Hallo,

für den Passwort Reset besuchen Sie bitte folgenden Link:

<a target="_blank" href="{{ url('user_reset_password', {token: token}) }}">{{ url('user_reset_password', {token: token}) }}</a>

Falls diese E-Mail nicht von Ihnen angefordert wurde, ignorieren Sie diese bitte.

Mit freundlichen Grüßen
Ihr Retromat Team
