# HTML files are created by the HomeController when the page is requested
# and no HTML exists yet. They are deleted by index_deploy-from-php-to-twig.sh
# when the templates are (re-) generated.
/public/*/index.html

# data files are created by the ActivityApiController when requested
# and no data files exist yet. They are deleted by # index_deploy-from-php-to-twig.sh when the templates are (re-) generated.
/public/api/

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.env.prod.cordelia
/.env.cordelia
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###
