includes:
    - phpstan-baseline.neon

parameters:
    level: 6
    paths:
        - src/
        - tests/
    excludePaths:
        - tests/bootstrap.php
        - src/Kernel.php
    bootstrapFiles:
        - vendor/autoload.php
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false
