    /* #################################################################
    # CSS Reset
    ################################################################# */

    *,::before,::after{box-sizing:border-box}body{min-height:100%;margin:0}img,picture{max-width:100%;display:block}input,button,textarea,select{font:inherit}

    /* #################################################################
    # Retromat Layout
    ################################################################# */

    body,
    html {
        font-family: "Droid Sans", "Open Sans", Roboto, Helvetica, Arial, Sans;
    }
    a {
        color: white;
    }

    .font-serif {
        font-family: 'Droid Serif', 'Open Serif', 'Roboto Slab', serif;
    }

    .header a,
    .footer a {
        text-decoration: none;
    }

    .header a:hover,
    .header a:focus,
    .footer a:hover,
    .footer a:focus {
        text-decoration: underline;
    }

    .header {
        display: flex; 
        flex-direction: row; 
        flex-wrap: wrap; 
        justify-content: space-between; 

        padding: .6rem .9rem;
        color: white;
        background: linear-gradient(#283d30, #00140d 84%);
    }

    .header__leftblock {
        padding-right: 1rem;
    }

    .header__logo {
        display: inline-block; 
        vertical-align: middle;
        width:130px;
        margin-right: 1rem;
    }

    .header__navi {
        vertical-align: middle;
        display: inline-block;
        margin: .4rem 0;
        padding-top: 4px;

        font-size: min(4.5vw, 100%);;
    }

    .header__languageswitcher {
        margin-top: .2rem;
        margin-bottom: .2rem;
    }

    .header__languageswitcher select {
        padding: .3rem .4rem; 
        outline: 0;
        border: none;
        border-radius: 5px;
        background: #e3f5ab;
        color: #003b3b;

    }

    
    .header ul,
    .footer ul,
    .plan-navi ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .header li,
    .footer li {
        display: inline;
        padding: 0 1ch;
        border-right: 1px solid white;
    }

    .header li:first-child {
        padding-left: 0;
    }

    .header li:last-child,
    .footer li:last-child {
        border: 0;
    }


    .pitch {
        width: 100%;

        color: #395360;
        font-size: calc(17px + 1vw); 
        line-height: calc(17px + 1.5vw);

        background-image: url("images/tile_top.png");
        background-repeat: repeat;
    }

    .content {
        max-width: calc(500px + 15vw); 
        margin: auto;  
        background-color: rgba(255,255,255,.15);
    }

    .pitch .content {
        background: #d5e8e9;
        background: rgba(255, 255, 255, 0.5);
    }

    .inner {
        padding: 2.5vw 4vw;
    }

    .pitch .inner {
        padding-top: 4vw;
        padding-bottom: 4vw;
    }

    .pitch a,
    .pitch a:link,
    .pitch a:visited {
        color: #395360;
    }

    .pitch a:hover {
        color: #222222;
    }

    .pitch a:active {
        color: #000000;
    }

    .promo {
        background-color: #c7e478;
    }

    .promo .content,
    .plan-header .content,
    .plan-title .content {
        background: rgba(255, 255, 255, .35);
    }

    .button-medium {
        display: inline-block;
        padding: 5px 8px; 
        text-decoration: none; 
        background-color: darkorange; 
        border-radius: 5px; 
        border: 2px white solid; 
    }

    .button-big {
        display: block;
        margin: 20px auto;
        font-size: 22px; 
        padding: 15px 20px; 
        text-decoration: none; 
        color: white;
        background-color: darkorange; 
        border-radius: 10px; 
        border: 5px white solid; 
    }

    .button-medium:hover,
    .button-big:hover, {
        background-color: orange; 
    }

    .small-font {
        font-size: 0.8em;
    }



    .plan-header {
        background-color: #e3f5ab;
    }

    .plan-header .inner {
        display: flex;
        flex-direction: row; 
        flex-wrap: wrap; 
        align-items: center;
        justify-content: space-between;

        overflow: hidden;

        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    .print-header,
    .display_none {
        display: none;
    }

    .ids-display {
        flex: 1;
    }

    .ids-display,
    .plan-navi {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .ids-display__form {
        display: inline;
    }

    .ids-display__input {
        padding: 0 5px;
        font-size: 1em;
        background-color: transparent;
        border: none;
    }

    .plan-header-inner-right {
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: right;
    }

    .plan-navi {
        flex-grow: 500; 
        display: flex;
        flex-direction: row;
        align-items: center;

        overflow: visible;
    }

    .plan-navi li {
        display: block;
        float: left;
        margin-right: 10px;
        margin-bottom: 5px;
        width: 47px;
        height: 47px;
        border: 3px white solid;
        border-radius: 8px;
    }

    .plan-navi__random,
    .plan-navi__search {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 0;
        line-height: 0;
        background-color: #c7e478;
        background-image: url('images/icons.svg');
        border-radius: 5px;
    }

    .plan-navi__random:hover,
    .plan-navi__search:hover,
    .plan-navi__random:active,
    .plan-navi__search:active {
        box-shadow: 0 50px rgba(0, 20, 0, 0.2) inset;
    }

    .plan-navi__search {
        background-position: -84px 0px;
    }

    .popup {
        position: absolute;
        margin-top: -65px;
        padding: 15px;
        background-color: #c7e478;
        border: 3px solid white;
        border-radius: 10px;
    }

    .popup--search {
        margin-left: -200px
    }

    .popup__info {
        margin-top: 5px;
        margin-bottom: -5px;
    }

    .popup__info,
    .popup__close-link {
        color: #666;
        font-size: 0.8em;
    }

    .popup__close-link a:hover {
        color: #000;
    }

    .popup input {
        border-radius: 8px;
        border-width: 1px;
    }

    .popup-input,
    .popup__input {
        margin-left: 5px;
        margin-right: 3px;
        padding: 5px 10px 5px 7px;
        font-size: 1em;
        background-color: #f5ffe3;
    }

    .popup__submit {
        padding: 3px 5px;
        font-size: 0.8em;
        background-color: #d0d099;
    }

    .plan-header-promo {
        flex-shrink: 0;
    }


    .plan-title {
        background-color: #75c7d2;
        font-size: 1.5rem;
    }


    .activity {
        display: grid;
        grid-template-columns: 1fr 12fr 1fr;
    }

    .phase-stepper > a {
        display: grid;
        height: 100%;
        place-items: center;
        background-color: rgba(255,255,255,.25);

        font-size: 2rem;
        text-decoration: none;
    }

    .activity_content {
        padding: 1.5rem;
    }

    .bg0 {
        background-color: #017f7c;
    }

    .bg1 {
        background-color: #b9e7e7;
    }

    .bg2 {
        background-color: #AF7500;
    }

    .bg2 {
        background-color: #bf9033;
    }

    .bg3 {
        background-color: #023838
    }

    .bg4 {
        background-color: #D3B256;
    }

    .bg0,
    .bg0 a,
    .bg2,
    .bg2 a,
    .bg3,
    .bg3 a {
        color: #fff;
    }

    .bg1,
    .bg1 a,
    .bg4,
    .bg4 a,
    .promo,
    .promo a,
    .sponsor,
    .sponsor a,
    .about a {
        color: #002013;
    }

    .phase-stepper a:hover {
        background-color: rgba(255,255,255,.35);
    }

    .bg1 .phase-stepper a:hover,
    .bg4 .phase-stepper a:hover {
        background-color: rgba(255,255,255,.40);
    }

    .hidden {
        visibility: hidden;
    }

    .activity_content h2 {
        font-weight: bold;
        font-size: 1.3rem;
        margin-bottom: .2rem;
    }

    .summary {
        margin-bottom: 1rem;
        font-weight: bold;
    }

    .source {
        font-size: .85rem;
    }

    .phase_title,
    .photo_link {
        text-align: center;
        font-size: .8rem;
        text-transform: uppercase;
    }

    .phase_title {
        margin-bottom: 1rem;
    }

    .photo_link {
        margin-top: 1rem;
    }

    .about {
        background-image: url("images/tile_bottom.png");
        background-repeat: repeat;
    }

    .about .inner {
        font-size: 0.9rem;
        background: #92c9d1;
        background: rgba(255, 255, 255, 0.6);
    }

    .team {
        color: #fff;
        background: rgb(0, 20, 13);
    }

    .team-member {
        clear: both;
    }

    .team h3 {
        margin-bottom: 10px;
        font-weight: normal;
    }

    .team-photo {
        border: rgba(255, 255, 255, 1) 5px solid;
        margin-top: 3px;
        margin-right: 10px;
        margin-bottom: 10px;
        float: left;
    }

    .team-text {
        margin-bottom: 20px;
        font-size: 0.8em;
    }

    .team__translator {
        float: left;
        width: 50%;
    }

    .footer {
        grid-area: footer;
        background-color: #017f7c;
        padding: .7rem 0;

        text-align: center;
        font-size: .85rem
    }

    .page .pitch {
        text-align: center;
    }

    .page h2 {
        margin-top: 0;
        font-weight: normal;
    }

    .page h3 {
        margin-top: 0;
        margin-bottom: 10px;
        font-weight: normal;
        text-decoration: none;
    }

    .page .pitch h1 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: calc(20px + 0.5vw); 
        line-height: calc(20px + 0.6vw);
        font-weight: normal;
    }

    .page .pitch h2 {
        margin-top: 10px;
        margin-bottom: 0;
        font-size: calc(20px + 2.5vw); 
        line-height: calc(20px + 2.6vw);
        font-weight: normal;
    }

    .page .listing h2 {
        font-size: 1.6rem;
        font-weight: normal;
        margin-top: 1rem; 
        text-align: center;
    }

    .page .listing h3 {
        font-size: 1.3rem;
        margin-top: 2.5rem;
        margin-bottom: 0.7rem;
    }

    .page .faq h2 {
        font-size: 1.5rem;
        margin-bottom: 0.7rem;
    }

    .page .faq h3 {
        font-weight: normal;
        font-size: 1.2em;
    }

    .two-col {
        display: flex; 
        flex-direction: row; 
        flex-wrap: wrap;
    }

    table.sources {
        border-collapse: collapse;
    }

    .sources tr {
        border-top: solid 1px #eee;
    }


    @media print {
        body {
            color: black;
        }

        .print-header {
            display: visible;
        }

        a {
            color: #111;
        }

        .header,
        .pitch,
        .promo,
        .plan-navi,
        .plan-header-promo,
        .photo_link,
        .about,
        .team,
        .footer {
            display: none;
        }

        .print-header {
            display: block;
            font-weight: bold;
            margin-bottom: 15px;
        }

        .phase-stepper {
            visibility: hidden;
        }

        .bg0 .inner,
        .bg2 .inner,
        .bg3 .inner {
            color: black;
        }
        .bg0 .inner a,
        .bg2 .inner a,
        .bg3 .inner a {
            color: #111;
        }

    }