{% extends 'base.html.twig' %}

{% set pageTitle = 'Cache Counter Experiment' %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block body %}
    <h1>{{ pageTitle }}</h1>
    <p>Current value of the counter: {{ counter }}</p>
{% endblock %}

