{% extends 'base.html.twig' %}

{% block title %}Plan Title Experiment{% endblock %}

{% block body %}
    <h1>Plan Title Experiment</h1>
<ul>
    <li>Count sequence_of_groups: {{ titles.en.sequence_of_groups|length }}</li>
    <li>Count groups_of_terms: {{ titles.en.groups_of_terms|length }}</li>
    <li>Count of all combinations: @todo</li>
</ul>
{% endblock %}

