{% extends 'base.html.twig' %}

{% set pageTitle = 'Plan Title Experiments' %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block body %}
    <h1>{{ pageTitle }}</h1>
    <ul>
        <li><a href="{{ path('titles-experiment-planids', {skip: 0, max: 1000}) }}">Titles for each
                plan id</a>
        </li>
    </ul>
{% endblock %}

