{% extends 'base.html.twig' %}

{% block title %}Plan Title Experiment: All IDs{% endblock %}

{% block body %}
    <h1>Plan Title Experiment: All IDs</h1>
    {% for id in allIds %}
        {{ id }} <br>
    {% endfor %}
{% endblock %}

