<!DOCTYPE html>
<html>
<head>
    <title>Timon Fiddike - Agile Coach and Scrum Trainer</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link rel="stylesheet" type="text/css" href="/static/retromat.css?v=2"/>
    <link rel="shortcut icon" href="/favicon.ico"/>
</head>

<body class="page">

{% include 'topnavi.html.twig' %}

<div class="pitch">
    <div class="content" style="text-align: center">
        <div class="inner font-serif">
            Timon Fiddike
        </div>
    </div>
</div>

<div class="bg3">
    <div class="content">
        <div class="inner">
            <a href="https://fiddike.com/">
                <img src="/static/images/team/timon_fiddike.jpg" width="70" height="93" title="Timon Fiddike"
                     class="team-photo">
            </a>
            <h3>
                Retromat is Co-developed by <a href="https://agile.coach/de/team/timon-fiddike/">
                    Timon Fiddike
                </a>
            </h3>
            Timon gives trainings for
            <a href="https://agile.coach/de/training/scrum-master-zertifizierung/">scrum master certification</a> and
            <a href="https://agile.coach/de/training/product-owner-zertifizierung/">product owner certification</a>.
            He also mentors
            <a href="https://agile.coach/de/training/advanced-scrum-master/">advanced scrum masters</a> and
            <a href="https://agile.coach/de/training/advanced-product-owner/">advanced product owners</a>.
            Human, dad, <a href="https://www.researchgate.net/profile/Timon-Fiddike">nerd</a>, contact improv &amp;
            tango dancer.
            He has used Retromat since 2013 and started to build new features in 2016.
            Connect with him on
            <a href="https://de.linkedin.com/in/fiddike">LinkedIn</a>,
            <a href="https://bsky.app/profile/fiddike.bsky.social">BlueSky</a>,
            <a href="https://mstdn.social/@fiddike" title="">Mastodon</a>,
            <a href="https://www.facebook.com/timon.fiddike/">FB</a>,
            <a href="https://www.instagram.com/timon.fiddike/">Insta</a>,
            <a href="https://www.threads.net/@timon.fiddike">Threads</a>.
        </div>
    </div>
</div>

<div class="about">
    <div class="content">
        <div class="inner font-serif">
            <h3>Any questions?</h3>
            You can contact Corinna Baldauf <a href="mailto:corinna@retromat.org">via email</a> or
            <a href="https://twitter.com/corinnabaldauf">Twitter</a>.
        </div>
    </div>
</div>

{% include 'footer.html.twig' ignore missing %}

<!-- Matomo -->
<noscript><img src="//retromat.org/piwik/piwik.php?idsite=3&amp;rec=1" style="border:0;" alt=""/></noscript>
<!-- End Matomo Code -->
</body>
</html>
