<!DOCTYPE html>
<html>
<head>
    <title>Run great agile retrospectives with the Retromat ebook</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif" />
    <link rel="stylesheet" type="text/css" href="/static/retromat.css" />
    <link rel="stylesheet" type="text/css" href="/print/styles.css" />
    <link rel="shortcut icon" href="/favicon.ico" />

    <script>
        var default_value = 'Your email address';

        function removeDefaultText(){
            var email_field = document.getElementById("email_address");
            if(email_field.value == default_value){
                email_field.value = "";
            }
        }

        function setDefaultText(){
            var email_field = document.getElementById("email_address");
            if(email_field.value == ''){
                email_field.value = default_value;
            }
        }
    </script>

</head>

<body class="subpage">

<div id="header">
    <a href="/">Back to <img id="logo" src="/static/images/logo_white.png" alt="Retromat" title="Retromat"></a>
</div>

<div class="pitch">
    <div class="content" style="text-align: center; font-size: 38px">
        Run Great Agile Retrospectives!<br>
        Tips, tricks and 125+ activities
        </div>
</div>


    <div class="bg0">
        <div class="activity-wrapper">
            <div class="activity-content">
                <div style="display: flex">
                    <div style="justify-content: space-between">
                        <a href="/static/images/ebook/cover-retromat-ebook.jpg">
                        <img src="/static/images/ebook/book-cover_all-activities-from-retromat.jpg" width="180" height="270" style="margin-right: 20px"></a>
                    </div>
                    <div style="">
                        Are your retrospectives not going as well as you like them to? Do they feel a little same-y? The same people discussing the same topics with the same conclusions again and again? Or even worse, all the team ever does is complaining? <br><br>
                        Wouldn't it be great if they all participated, had new insights and agreed to act on them?
                        <br><br>
                        Well, buckle up because this ebook is chock-full of activities for just about every team situation and then some! Knowing these 125+ activities and when to apply them will let you come up with perfectly fitting retrospectives – without scouring the web for hours.
                        <br><br>
                        <a href="https://leanpub.com/retromat-activities-for-agile-retrospectives" style="padding: 4px 30px; text-decoration: none; background-color: darkorange; border-radius: 5px; border: 2px white solid; color: white;">Buy now!
                </a>  
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg1">
        <div class="activity-wrapper">
            <div class="activity-content" style="padding-left: 100px">
                <a href="https://twitter.com/arifbobat/status/725074831285342209" target="_blank">
                <img src="/static/images/ebook/retromat_more-ideas-than-thought-possible.png" title="Brilliant site, thank you. Way more interesting ideas for Retro than I thought possible." alt="Brilliant site, thank you. Way more interesting ideas for Retro than I thought possible."></a>
            </div>
        </div>
    </div>

    <div class="bg4">
        <div class="activity-wrapper">
            <div class="activity-content">
                Ramp up your game with the largest collection of activities for retrospectives: 
                More than 20 activities for each of the <a href="http://wall-skills.com/2013/what-is-a-retrospective/" target="_blank">5 phases</a> of a retrospective, plus a few ideas outside the box. 
                <br><br>
                Each activity is described in enough detail to facilitate it. You get a time estimate and a recommendation for which of <a href="http://wall-skills.com/2016/tuckmans-stages-of-team-development/" target="_blank">Tuckman's team stages</a> (forming, norming, storming, etc.) it's the best fit.
            </div>
        </div>
    </div>


    <div class="bg2">
        <div class="activity-wrapper">
            <div class="activity-content">  
<i>"Through this book, Corinna has made our design work so much smoother. I turn to the Retromat with each new retrospective I lead. I browse through each chapter. I consider what the new team needs, and which activities will help them best. Her choices give me new ideas. Proceeding from the "Default" plan, through the chapters, she leads us through to retrospective gold. It’s a treasure trove! 
<br><br>
In every retrospective facilitators workshop I lead, I recommend the Retromat as a primary resource. I’m glad you’ve found it too."</i>
<br><br>
Exerpt from the foreword by <a href="http://www.futureworksconsulting.com/about/diana-larsen" target="_blank">Diana Larsen</a><br>
(Co-author of "<a href="https://pragprog.com/book/dlret/agile-retrospectives" target="_blank">Agile Retrospectives: Making Good Teams Great</a>")
            </div>
        </div>
    </div>

    <div class="bg1">
        <div class="activity-wrapper">
            <div class="activity-content" style="padding-left: 100px">
                <a href="https://twitter.com/arifbobat/status/725074831285342209" target="_blank">
                <img src="/static/images/ebook/retromat_wouldnt-be-able-to-plan-without.png" title="Retromat is amaaazing!! I wouldn't be able to plan tomorrow's retro without it" alt="Retromat is amaaazing!! I wouldn't be able to plan tomorrow's retro without it"></a>
            </div>
        </div>
    </div>

<!--

    <div class="bg0">
        <div class="activity-wrapper">
            <div class="activity-content">
                Facilitation
                https://leanpub.com/facilitation-1pagers
                Nur Ways to Vote?
            </div>
        </div>
    </div>
-->

    <div class="bg3">
        <div class="activity-wrapper">
            <div class="activity-content">
                A great retrospective is great (duh!), but it's only half the way. Retrospectives are a means to an end and that end is change. Hopefully improvement. 
                <br><br>
                If your teams are not committing to action items or aren't implementing them, don't worry. This book has got you covered. You will learn different ways to address problematic behaviours, how to engage everyone during retrospectives and help your team hone in on and follow-through on action items. 
            </div>
        </div>
    </div>

    <div class="bg1">
        <div class="activity-wrapper">
            <div class="activity-content" style="padding-left: 100px">
                <a href="https://twitter.com/dhettema/status/714054831145660416" target="_blank">
                <img src="/static/images/ebook/retromat_stoked-with-initial-results.png" title="Started using your retromat at Nordnet and we're stoked with the initial results. Thanks! :)" alt="Started using your retromat at Nordnet and we're stoked with the initial results. Thanks! :)"></a>
            </div>
        </div>
    </div>

    <!--

    <div class="bg1">
        <div class="activity-wrapper">
            <div class="activity-content" style="padding-left: 100px">
                <a href="https://twitter.com/techtalks/status/747346070871511041" target="_blank">
                <img src="../static/images/ebook/retromat_get-inspired.png" title="We recently discovered Retromat: Great way to get inspired for your next retrospective!" alt="We recently discovered Retromat: Great way to get inspired for your next retrospective!"></a>
            </div>
        </div>
    </div>

    <div class="bg0">
        <div class="activity-wrapper">
            <div class="activity-content">
                <img src="../static/images/ebook/book-cover_all-activities-from-retromat.jpg" width="650" height="1000">
            </div>
        </div>
    </div>

    -->

    <div class="bg0">
        <div class="activity-wrapper">
            <div class="activity-content" style="padding-left: 100px">
                Checking the book out is risk-free for you:<br>
                1) Full money-back guarantee – You get your money back if you're not happy!<br>
                2) You get all future updates and additions to the book for free!
            </div>
        </div>
    </div>

    <div class="subscribe">
        <div class="content">
            <div style="padding: 20px; auto">
<a href="https://leanpub.com/retromat-activities-for-agile-retrospectives" style="font-size: 22px; margin-top: 20px; padding: 20px 30px; text-decoration: none; background-color: darkorange; border-radius: 10px; border: 5px white solid; color: white;">Buy now and run great retrospectives! 
                </a>
            </div>
        </div>
    </div>


<div class="about">
    <div class="content">

        <h1>Any questions?</h1>
    <br>
        You can contact the author via <a href="mailto:corinna@finding-marbles.com">email</a> or
        <a href="http://www.twitter.com/findingmarbles">Twitter</a>.
    </div>
</div>


</body>
</html>
