{% extends 'base.html.twig' %}

{% block title %}Email sent using subject: {{ subject }}{% endblock %}

{% block body %}
    <h1>Email sent</h1>
    <p>Email sent using subject: "{{ subject }}"</p>
{% endblock %}