<div class="js_plan">
    <div class="activity_block bg1">
        <div class="activity-wrapper">
            <div class="activity-content">
                ... LOADING ACTIVITIES ...                    <noscript>
                    Retromat relies heavily on JavaScript and doesn't work without it. Please enable JavaScript in your browser. Thanks!                    </noscript>
            </div>
        </div>
    </div>
</div>