<div class="js_plan">
    <div class="js_activity_block activity_block bg2 js_activity2">
        <div class="activity-wrapper">
            <a href="JavaScript:Previous" class="js_phase-stepper phase-stepper js_prev_button display_table-cell"
               title="Show other activity for this phase">◄</a>
            <div class="activity-content">
                <div class="js_phase_title phase_title">
                    <a href="?id=1-2-3-18-22-31-32-36-42-43-46-52-59-70-76-81-82-84-85-90-106-107-108-114-122&amp;phase=0"
                       class="js_fill_phase_link">
                        <span class="js_fill_phase_title">Set the stage</span>
                    </a>
                </div>
                <div class="js_item">
                    <h2><span class="js_fill_name">Check In - Quick Question</span>
                    <span class="activity_id_wrapper">
                            (<a class="js_fill_activity_link" href="?id=3">#<span class="js_fill_id">3</span></a>)
                    </span>
                    </h2>
                    <div class="summary">
                        <span class="js_fill_summary">Ask one question that each participant answers in turn</span>
                        <br>
                        <span class="source">Source:                            <span class="js_fill_source"><a
                                        href="http://www.amazon.com/Agile-Retrospectives-Making-Teams-Great/dp/0977616649/">Agile Retrospectives</a></span>
                        </span>
                    </div><!-- END summary -->
                    <div class="description">
                        <span class="js_fill_description">In round-robin each participant answers the same question (unless they say 'I pass'). Sample questions: <br><ul>    <li>In one word - What do you need from this retrospective?</li>Address concerns, e.g. by writing it down and setting it - physically and mentally - aside    <li>In this retrospective - If you were a car, what kind would it be?</li>    <li>What emotional state are you in (e.g. 'glad', 'mad', 'sad', 'scared'?)</li></ul><br>Avoid evaluating comments such as 'Great'. 'Thanks' is okay.</span>
                    </div><!-- END description -->
                </div><!-- END js_item -->
                <div class="js_photo_link photo_link">
                    <span class="js_fill_photo-link"></span>
                    <!-- PAUSED Until I've got more time
                    <a href="mailto:corinna@finding-marbles.com?subject=Photos%20for%20Activity%3A%20ID&body=Hi%20Corinna%21%0D%0A%0D%0A[%20]%20Photo%20is%20attached%0D%0A[%20]%20Photo%20is%20online%20at%3A%20%0D%0A%0D%0ABest%2C%0D%0AYour%20Name" class="less_pronounced">
                        Add Photo                </a>
                    -->
                </div><!-- END .js_photo_link -->
            </div><!-- END .activity-content -->
            <a href="JavaScript:Next" class="js_phase-stepper phase-stepper js_next_button display_table-cell"
               title="Show other activity for this phase">►</a>
        </div><!-- END .activity-wrapper -->
    </div>
    <div class="js_activity_block activity_block bg3 js_activity86">
        <div class="activity-wrapper">
            <a href="JavaScript:Previous" class="js_phase-stepper phase-stepper js_prev_button display_table-cell"
               title="Show other activity for this phase">◄</a>
            <div class="activity-content">
                <div class="js_phase_title phase_title">
                    <a href="?id=4-5-6-7-19-33-35-47-51-54-62-64-65-75-78-79-80-86-87-89-93-97-98-110-116-119-121-123&amp;phase=1"
                       class="js_fill_phase_link">
                        <span class="js_fill_phase_title">Gather data</span>
                    </a>
                </div>
                <div class="js_item">
                    <h2><span class="js_fill_name">Meeting Satisfaction Histogram</span>
                    <span class="activity_id_wrapper">
                            (<a class="js_fill_activity_link" href="?id=87">#<span class="js_fill_id">87</span></a>)
                    </span>
                    </h2>
                    <div class="summary">
                        <span class="js_fill_summary">Create a histogram on how well ritual meetings went during the iteration</span>
                        <br>
                        <span class="source">Source:                            <span class="js_fill_source"><a
                                        href="https://www.linkedin.com/profile/view?id=6689187">Fanny Santos</a></span>
                        </span>
                    </div><!-- END summary -->
                    <div class="description">
                        <span class="js_fill_description">Prepare a flip chart for each meeting that recurs every iteration, (e.g. the Scrum ceremonies) with a horizontal scale from 1 ('Did not meet expectations') to 5 ('Exceeds Expectations'). Each team member adds a sticky note based on their rating for each of these meetings. Let the team discuss why some meetings do not have a rating of 5. <br> You can discuss improvements as part of this activity or in a later activity such as Perfection Game (#20) or Plus &amp; Delta (#40).</span>
                    </div><!-- END description -->
                </div><!-- END js_item -->
                <div class="js_photo_link photo_link">
                    <span class="js_fill_photo-link"></span>
                    <!-- PAUSED Until I've got more time
                    <a href="mailto:corinna@finding-marbles.com?subject=Photos%20for%20Activity%3A%20ID&body=Hi%20Corinna%21%0D%0A%0D%0A[%20]%20Photo%20is%20attached%0D%0A[%20]%20Photo%20is%20online%20at%3A%20%0D%0A%0D%0ABest%2C%0D%0AYour%20Name" class="less_pronounced">
                        Add Photo                </a>
                    -->
                </div><!-- END .js_photo_link -->
            </div><!-- END .activity-content -->
            <a href="JavaScript:Next" class="js_phase-stepper phase-stepper js_next_button display_table-cell"
               title="Show other activity for this phase">►</a>
        </div><!-- END .activity-wrapper -->
    </div>
    <div class="js_activity_block activity_block bg4 js_activity112">
        <div class="activity-wrapper">
            <a href="JavaScript:Previous" class="js_phase-stepper phase-stepper js_prev_button display_table-cell"
               title="Show other activity for this phase">◄</a>
            <div class="activity-content">
                <div class="js_phase_title phase_title">
                    <a href="?id=8-9-10-20-25-26-37-41-50-55-58-66-68-69-74-91-94-95-105-113-115-118&amp;phase=2"
                       class="js_fill_phase_link">
                        <span class="js_fill_phase_title">Generate insights</span>
                    </a>
                </div>
                <div class="js_item">
                    <h2><span class="js_fill_name">Set Course</span>
                    <span class="activity_id_wrapper">
                            (<a class="js_fill_activity_link" href="?id=113">#<span class="js_fill_id">113</span></a>)
                    </span>
                    </h2>
                    <div class="summary">
                        <span class="js_fill_summary">Imagine you're on a voyage - Cliffs and treasures await</span>
                        <br>
                        <span class="source">Source:                            <span class="js_fill_source"><a
                                        href="https://www.xing.com/profile/KatrinElise_Dreyer">Katrin Dreyer</a></span>
                        </span>
                    </div><!-- END summary -->
                    <div class="description">
                        <span class="js_fill_description">Imagine you're navigating a boat instead of a product or service. Ask the crew the following questions: <ol> <li>            Where is a treasure to be found? (New things worth trying) </li> <li>            Where is a cliff to be safe from? (What makes the team worry)</li> <li>            Keep course for ...  (What existing processes go well?)</li> <li>            Change course for... (What existing processes go badly)</li> </ol></span>
                    </div><!-- END description -->
                </div><!-- END js_item -->
                <div class="js_photo_link photo_link">
                    <span class="js_fill_photo-link"><a href="static/images/activities/113_Navigation.jpg"
                                                        rel="lightbox[activity112]" title="Photo by Katrin Dreyer">View photo</a></span>
                    <!-- PAUSED Until I've got more time
                    <a href="mailto:corinna@finding-marbles.com?subject=Photos%20for%20Activity%3A%20ID&body=Hi%20Corinna%21%0D%0A%0D%0A[%20]%20Photo%20is%20attached%0D%0A[%20]%20Photo%20is%20online%20at%3A%20%0D%0A%0D%0ABest%2C%0D%0AYour%20Name" class="less_pronounced">
                        Add Photo                </a>
                    -->
                </div><!-- END .js_photo_link -->
            </div><!-- END .activity-content -->
            <a href="JavaScript:Next" class="js_phase-stepper phase-stepper js_next_button display_table-cell"
               title="Show other activity for this phase">►</a>
        </div><!-- END .activity-wrapper -->
    </div>
    <div class="js_activity_block activity_block bg0 js_activity12">
        <div class="activity-wrapper">
            <a href="JavaScript:Previous" class="js_phase-stepper phase-stepper js_prev_button display_table-cell"
               title="Show other activity for this phase">◄</a>
            <div class="activity-content">
                <div class="js_phase_title phase_title">
                    <a href="?id=11-12-13-21-24-29-38-39-48-49-61-63-72-73-88-96-99-100-103-117&amp;phase=3"
                       class="js_fill_phase_link">
                        <span class="js_fill_phase_title">Decide what to do</span>
                    </a>
                </div>
                <div class="js_item">
                    <h2><span class="js_fill_name">SMART Goals</span>
                    <span class="activity_id_wrapper">
                            (<a class="js_fill_activity_link" href="?id=13">#<span class="js_fill_id">13</span></a>)
                    </span>
                    </h2>
                    <div class="summary">
                        <span class="js_fill_summary">Formulate a specific and measurable plan of action</span>
                        <br>
                        <span class="source">Source:                            <span class="js_fill_source"><a
                                        href="http://www.amazon.com/Agile-Retrospectives-Making-Teams-Great/dp/0977616649/">Agile Retrospectives</a></span>
                        </span>
                    </div><!-- END summary -->
                    <div class="description">
                        <span class="js_fill_description">Introduce <a
                                    href="http://en.wikipedia.org/wiki/SMART_criteria">SMART goals</a> (specific, measurable, attainable, relevant, timely) and examples for SMART vs not so smart goals, e.g.'We'll study stories before pulling them by talking about them with the product owner each Wednesday at 9am' vs. 'We'll get to know the stories before they are in our sprint backlog'.<br>Form groups around the issues the team wants to work on. Each group identifies 1-5 concrete steps to reach the goal. Let each group present their results. All participants should agree on the 'SMART-ness' of the goals. Refine and confirm.</span>
                    </div><!-- END description -->
                </div><!-- END js_item -->
                <div class="js_photo_link photo_link">
                    <span class="js_fill_photo-link"><a href="static/images/activities/13_Smart-Goals.jpg"
                                                        rel="lightbox[activity12]" title="Photo by Manuel Küblböck">View photo</a></span>
                    <!-- PAUSED Until I've got more time
                    <a href="mailto:corinna@finding-marbles.com?subject=Photos%20for%20Activity%3A%20ID&body=Hi%20Corinna%21%0D%0A%0D%0A[%20]%20Photo%20is%20attached%0D%0A[%20]%20Photo%20is%20online%20at%3A%20%0D%0A%0D%0ABest%2C%0D%0AYour%20Name" class="less_pronounced">
                        Add Photo                </a>
                    -->
                </div><!-- END .js_photo_link -->
            </div><!-- END .activity-content -->
            <a href="JavaScript:Next" class="js_phase-stepper phase-stepper js_next_button display_table-cell"
               title="Show other activity for this phase">►</a>
        </div><!-- END .activity-wrapper -->
    </div>
    <div class="js_activity_block activity_block bg1 js_activity15">
        <div class="activity-wrapper">
            <a href="JavaScript:Previous" class="js_phase-stepper phase-stepper js_prev_button display_table-cell"
               title="Show other activity for this phase">◄</a>
            <div class="activity-content">
                <div class="js_phase_title phase_title">
                    <a href="?id=14-15-16-17-23-34-40-44-45-53-57-60-67-71-77-83-92-101-102-104-109-112-120&amp;phase=4"
                       class="js_fill_phase_link">
                        <span class="js_fill_phase_title">Close the retrospective</span>
                    </a>
                </div>
                <div class="js_item">
                    <h2><span class="js_fill_name">Helped, Hindered, Hypothesis</span>
                    <span class="activity_id_wrapper">
                            (<a class="js_fill_activity_link" href="?id=16">#<span class="js_fill_id">16</span></a>)
                    </span>
                    </h2>
                    <div class="summary">
                        <span class="js_fill_summary">Get concrete feedback on how you facilitated</span>
                        <br>
                        <span class="source">Source:                            <span class="js_fill_source"><a
                                        href="http://www.amazon.com/Agile-Retrospectives-Making-Teams-Great/dp/0977616649/">Agile Retrospectives</a></span>
                        </span>
                    </div><!-- END summary -->
                    <div class="description">
                        <span class="js_fill_description">Prepare 3 flip chart papers titled 'Helped', 'Hindered', and 'Hypothesis' (suggestions for things to try out). Ask participants to help you grow and improve as a facilitator by writing you sticky notes and signing their initials so that you may ask questions later.</span>
                    </div><!-- END description -->
                </div><!-- END js_item -->
                <div class="js_photo_link photo_link">
                    <span class="js_fill_photo-link"></span>
                    <!-- PAUSED Until I've got more time
                    <a href="mailto:corinna@finding-marbles.com?subject=Photos%20for%20Activity%3A%20ID&body=Hi%20Corinna%21%0D%0A%0D%0A[%20]%20Photo%20is%20attached%0D%0A[%20]%20Photo%20is%20online%20at%3A%20%0D%0A%0D%0ABest%2C%0D%0AYour%20Name" class="less_pronounced">
                        Add Photo                </a>
                    -->
                </div><!-- END .js_photo_link -->
            </div><!-- END .activity-content -->
            <a href="JavaScript:Next" class="js_phase-stepper phase-stepper js_next_button display_table-cell"
               title="Show other activity for this phase">►</a>
        </div><!-- END .activity-wrapper -->
    </div>
</div>