/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/************ CUSTOM **************/

body {
    width: 100%;
    color: #111;
    font-family: 'Droid Sans', sans-serif;
    font-size: 100%;
    line-height: 1.15em;
    background-color: #bbd0d3; /* light blue */
}

b {
    font-weight: bold;
}

em {
    font-style: italic;
}

a:hover {
    color: #333;
}

a {
    color: #111;
}

ul {
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: disc;
}

li {
    margin-left: 20px;
}

#header {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    padding: 8px 20px 8px 12px;
    color: #fff;
    font-size: 0.8em;

    background: rgb(40,61,48); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(40,61,48,1) 0%, rgba(0,20,13,1) 84%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(40,61,48,1)), color-stop(84%,rgba(0,20,13,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(40,61,48,1) 0%,rgba(0,20,13,1) 84%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(40,61,48,1) 0%,rgba(0,20,13,1) 84%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(40,61,48,1) 0%,rgba(0,20,13,1) 84%); /* IE10+ */
    background: linear-gradient(top,  rgba(40,61,48,1) 0%,rgba(0,20,13,1) 84%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#283d30', endColorstr='#00140d',GradientType=0 ); /* IE6-9 */

    z-index: 5;

    /* outer shadows  (note the rgba is red, green, blue, alpha) */
    -moz-box-shadow:    0px 0px 4px 4px rgba(40, 40, 40, 0.6);
    -webkit-box-shadow: 0px 0px 4px 4px rgba(40, 40, 40, 0.6);
    box-shadow:         0px 0px 4px 4px rgba(40, 40, 40, 0.6);
}

#header a {
    color: #fff;
    text-decoration:none;
}

#header a:hover {
    color: #fff;
    text-decoration:underline;
}

#logo {
    margin-left: 5px;
    margin-bottom: -3px;
}

.content {
    width: 650px;
    margin: 0 auto;
    padding: 30px;
}

#title {
    color: #007788;
  /*  color: #395360;  #2A4C70; /*#051A1C;*/

    background-image: url("../static/images/tile_bottom.png");
    background-repeat: repeat;
}

#title .content {
    padding-top: 80px;
    padding-bottom: 40px;
    text-align: center;
    background: rgb(185, 231, 231); /* The Fallback */
    background: rgba(255, 255, 255, 0.5);
}

#title h1 {
    margin: 0px;
    font-size: 3em;
    font-family: 'Droid Serif', serif;
    line-height: 1.8em;
    text-shadow: 1px 2px 2px #eee;
}

.umph {
    font-size: 1.8em;
}

.summary  {
    background-color: #017f7c;
}

.summary .content {
    color: #fff;
    background-color: #1A8888; /* The Fallback */
    background: rgba(255, 255, 255, 0.35);
}

.summary a {
    color: #fff;
}

.text {
    display: inline-block;
    vertical-align: top;
    margin-top: 0px;
    width: 350px;
    padding-right: 30px;
}

.summary img {
    display: inline-block;
    box-shadow: 0px 0px 4px 4px rgba(40, 40, 40, 0.6);
}

.pitch {
    background-color: #b9e7e7;
}

.pitch .content {
    background-color: #ddFFFF; /* The Fallback */
    background-color: rgba(255, 255, 255, 0.3);
}

.order-button {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    background-color: orange;
    border-radius: 5px;
    border: 2px white solid;
}

.offer {
    width:200px;
}

.subscribe {
    font-size: 1em;
    text-align: center;
    background-color: #e3f5ab;
}

.subscribe .content {
    background: #edf8c8; /* The Fallback */
    background: rgba(255, 255, 255, 0.35);
}

.subscribe_form {
    display: inline;
}

.subscribe input {
    margin-bottom: 8px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border-width: 1px;
}

.subscribe_input {
    width: 304px;
    margin-left: 5px;
    margin-right: 3px;
    padding: 5px 10px 5px 10px;

    font-size: 1em;
    background-color: #f5ffe3;
}

.subscribe_input:focus {
    background-color: #fff;
}

.subscribe_submit {
    padding: 5px 12px 5px 12px;
    font-size: 1em;
    background-color: #fea204;
}

.subscribe_submit:hover {
    background-color: #afd93d;
}

.no_spam {
    margin-top: 5px;
    font-size: 0.8em;
}

#footer {
    background-image: url("../static/images/tile_top.png");
    background-repeat: repeat;
}

#footer .content {
    color: #333355;
    font-family: 'Droid Serif', serif;
    line-height: 1.3em;
    background: rgb(185, 231, 231); /* The Fallback */
    background: rgba(255, 255, 255, 0.6);
}

#footer h1 {
    margin-bottom: 15px;
    font-size: 1.25em;
}

#footer a {
    color: #111166;
    font-family: 'Droid Serif', serif;
}

.pattern {
    height: 200px;
    background-image: url("../static/images/tile_top.png");
    background-repeat: repeat;
}

table {
    width: 650px;
}

th {
    padding: 10px;
    text-align: left;
}

td {
    padding-left: 10px;
    padding: 10px;
}

.sources td {
    border-top: 1px solid rgba(255,255,255,0.5);
}

.small {
    font-size: 0.8rem;
}