<div class="js_plan">
    {% if 0 == activities|length %}
        <div class="js_plan">
            <div class="bg1">
                <div class="content">
                    <div class="inner">
                        Loading activities ...
                        <noscript>
                            <br /><br />... JavaScript seems to be disabled in your browser!
                            <br /><br />Retromat relies heavily on JavaScript and doesn't work without it.
                            <br /><br />Please enable JavaScript in your browser. Thanks!
                        </noscript>
                    </div>
                </div>
            </div>
        </div><!-- END plan -->
    {% else %}
        {% for activity in activities %}
            {% include 'home/activities/activity.html.twig' %}
        {% endfor %}
    {% endif %}
</div>
