    <div class="js_activity_block bg3">
        <div class="content">
            <div class="activity">
                <div class="activity_content">
                    <div class="js_item">
                        <div class="summary">
                            <span class="js_fill_summary">Dauert das Laden zu lange? Hier sind einige zufällig ausgewählte Pläne:</span>
                            <br>
                        </div>
                        <div class="description">
                            <span class="js_fill_description">
                                <ul>
                                    <li><a href="/de/?id=1-47-8-12-15">1-47-8-12-15</a></li>
                                    <li><a href="/de/?id=59-64-37-72-23">59-64-37-72-23</a></li>
                                    <li><a href="/de/?id=31-62-58-48-53">31-62-58-48-53</a></li>
                                    <li><a href="/de/?id=43-54-55-29-40">43-54-55-29-40</a></li>
                                    <li><a href="/de/?id=36-6-10-13-34">36-6-10-13-34</a></li>
                                </ul>
                            </span>
                        </div>
                    </div><!-- END js_item -->
                </div>
            </div>
        </div>
    </div>
