    <div class="js_activity_block bg3">
        <div class="content">
            <div class="activity">
                <div class="activity_content">
                    <div class="js_item">
                        <div class="summary">
                            <span class="js_fill_summary">Is loading taking too long? Here are some random plans:</span>
                            <br>
                        </div>
                        <div class="description">
                            <span class="js_fill_description">
                                <ul>
                                    <li><a href="/en/?id=3-126-9-39-60">3-126-9-39-60</a></li>
                                    <li><a href="/en/?id=32-7-105-38-53">32-7-105-38-53</a></li>
                                    <li><a href="/en/?id=43-65-26-124-23">43-65-26-124-23</a></li>
                                    <li><a href="/en/?id=81-47-58-100-104">81-47-58-100-104</a></li>
                                    <li><a href="/en/?id=22-110-105-124-83">22-110-105-124-83</a></li>
                                </ul>
                            </span>
                        </div>
                    </div><!-- END js_item -->
                </div>
            </div>
        </div>
    </div>
