<div class="about">
    <div class="content">
        Retromat contains <span class="js_footer_no_of_activities">127</span> activities, allowing for <span class="js_footer_no_of_combinations">8349005</span> combinations (<span class="js_footer_no_of_combinations_formula">25x30x22x22x23+5</span>) and we are constantly adding more.<!-- PAUSED Until I've got more time
        <a href="https://docs.google.com/a/finding-marbles.com/spreadsheet/viewform?formkey=dEZZV1hPYWVZUDc2MFNsUEVRdXpMNWc6MQ">Suggest it</a>!
-->
    </div>
</div>