<!DOCTYPE html>
<html lang="en">
<head>
    <title>About Retromat</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"> 

    <link rel="stylesheet" type="text/css" href="/static/retromat.css" />
    <link rel="shortcut icon" href="/favicon.ico" />


    <!-- Matomo -->
    <script type="text/javascript">
        var _paq = _paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//retromat.org/piwik/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', '3']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <!-- End Matomo Code -->
</head>

<body class="page">

{% include 'topnavi.html.twig' ignore missing  %}

    <div class="pitch">
        <div class="content">
            <div class="inner font-serif">
                <h1>About Retrospectives and Retromat</h1>
            </div>
        </div>
    </div>

    <div class="bg3">
        <div class="content">
            <div class="inner">     
                <h2>New to retrospectives?</h2>

                Here is a <a href="/blog/what-is-a-retrospective/" target="_blank">summary of what retrospectives are, why they are a great idea and how you can run one
                </a>.<br><br>
                <span style="font-size: small;">Spanish version: <a href="http://thomaswallet.blogspot.com.ar/2014/10/que-es-una-retrospectiva.html" target="_blank"> ¿Qué es una retrospectiva? 
                </a></span>
                <br>
                <span style="font-size: small;">German version: <a href="http://finding-marbles.com/retr-o-mat/was-ist-eine-agile-retrospektive/" target="_blank">Was ist eine (agile) Retrospektive?
                </a></span>
            </div>
        </div>
    </div>

    <div class="bg4">
        <div class="content">
            <div class="inner">     
                 <h2> New to Retromat?</h2>

                 Retromat generates random plans for agile retrospectives: Out of a pool of many activities it selects 1 for each of the <a href="/blog/what-is-a-retrospective/" target="_blank">5 phases</a>. Use the arrows to exchange activities and make sure that all 5 activities fit together. They are unlikely to fit together in a truly random plan.
                 <br><br>
                <a href="/blog/the-missing-manual-5-tricks-to-get-the-most-out-of-retromat/" target="_blank">Here's the unofficial manual for Retromat</a><br><br>
                <a href="/blog/history-of-retromat/" target="_blank">And here's a short history of Retromat</a><br><br>
            </div>
        </div>
    </div>

    <div class="bg2">
        <div class="content">
            <div class="inner">     
                <h2>Want to support Retromat?</h2>
                
                You want to suggest an activity, send a photo or translate? <a href="/blog/faq-frequently-asked-questions/" target="_blank">Check out the FAQ</a>
                <br><br>
                You want to help us keep the <span style="text-decoration: line-through;">lights</span> servers on, the mailing list going and – that's the biggy – have enough time to work on Retromat? We'd love to welcome you as a <a href="/en/membership">Retro Mate</a>! Alternatively, you can <a href="/en/books">buy the Retromat books</a> or <a href="/blog/become-a-retromat-sponsor/">become a sponsor</a>.
                <br><br>
                <a href="/blog/help-make-retromat-sustainable/">Your help can really make a difference.</a> 
            </div>
        </div>
    </div>

    <div class="bg0">
        <div class="content">
            <div class="inner">     
                <h2>Want to get new activities and updates via email?</h2>
                
                <a href="https://landing.mailerlite.com/webforms/landing/u1x3o6">Subscribe to the Retromat newsletter (1-2 mails per month)</a>
            </div>
        </div>
    </div>

    <div class="about">
        <div class="content">
            <div class="inner font-serif">
                    <h3>Any questions?</h3>
                    You can contact Corinna Baldauf <a href="mailto:corinna@retromat.org">via email</a> or
                    <a href="https://twitter.com/corinnabaldauf">Twitter</a>.
            </div>
        </div>
    </div>


{% include 'footer.html.twig' ignore missing  %}

<!-- Matomo -->
<noscript><img src="//retromat.org/piwik/piwik.php?idsite=3&amp;rec=1" style="border:0;" alt="" /></noscript>
<!-- End Matomo Code -->
</body>
</html>
