<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Retromat{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

{% include 'topnavi.html.twig' ignore missing  %}
      
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

<!-- Auslagern in eigenes twig snippet -->
<div class="footer">
   <div class="content">
      <div style="clear:both">
           <a href="/imprint-privacy">
               Imprint &amp; Privacy Policy
            </a>
        </div>
    </div><!-- .content -->
</div><!-- .footer -->

    </body>
</html>
