<!DOCTYPE html>
<html>
<head>
    <title>Support Retromat!</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif" />
    <link rel="stylesheet" type="text/css" href="/static/retromat.css" />
    <link rel="shortcut icon" href="/favicon.ico" />

    <style>

    #header {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    padding: 8px 20px 8px 12px;
    color: #fff;
    font-size: 0.8em;

    background: rgb(40,61,48); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(40,61,48,1) 0%, rgba(0,20,13,1) 84%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(40,61,48,1)), color-stop(84%,rgba(0,20,13,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(40,61,48,1) 0%,rgba(0,20,13,1) 84%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(40,61,48,1) 0%,rgba(0,20,13,1) 84%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(40,61,48,1) 0%,rgba(0,20,13,1) 84%); /* IE10+ */
    background: linear-gradient(top,  rgba(40,61,48,1) 0%,rgba(0,20,13,1) 84%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#283d30', endColorstr='#00140d',GradientType=0 ); /* IE6-9 */

    z-index: 5;

    /* outer shadows  (note the rgba is red, green, blue, alpha) */
    -moz-box-shadow:    0px 0px 4px 4px rgba(40, 40, 40, 0.6);
    -webkit-box-shadow: 0px 0px 4px 4px rgba(40, 40, 40, 0.6);
    box-shadow:         0px 0px 4px 4px rgba(40, 40, 40, 0.6);
}

#header a {
    color: #fff;
    text-decoration:none;
}

#header a:hover {
    color: #fff;
    text-decoration:underline;
}

#logo {
    margin-left: 5px;
    margin-bottom: -3px;
}

        .donate-button {
            display: inline-block;
            padding: 10px;
            text-decoration: none;
            background-color: darkorange;
            border-radius: 5px;
            border: 2px white solid;
        }
        a.donate-button {
            color: white;
        }
        
        .smallprint {
            font-size: small;
            color: #aaa;
        }

        .content, 
        .activity-content {
            font-size: larger;
            line-height: 20px;
        }

    </style>

    <!-- Piwik -->
    <script type="text/javascript">
        var _paq = _paq || [];
        // tracker methods like "setCustomDimension" should be called before "trackPageView"
        _paq.push(["setCookieDomain", "*.plans-for-retrospectives.com"]);
        _paq.push(["setDomains", ["*.plans-for-retrospectives.com"]]);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//plans-for-retrospectives.com/piwik/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', '2']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <!-- End Piwik Code -->
</head>

<body>

<div id="header">
    <a href="{{ path('activities_by_id') }}">Back to <img id="logo" src="/static/images/logo_white.png" alt="Retromat" title="Retromat"></a>
</div>

<div class="pitch">
    <div class="content" style="text-align: center">
        How much time has Retromat saved you? 
        <br>How many great retrospectives has it inspired?
        </div>
</div>

    <div class="book">
        <div class="content" style="text-align: center">
                <a href="http://paypal.me/Retromat" class="donate-button"> Support Retromat!
                </a>
                <br><br>
                <span class="smallprint">Via Paypal<br>
                Donations are NOT tax-deductible</span>
        </div>
    </div>
    <!-- Time &Ideas, SOCIAL PROOF -->

    <div class="bg0">
        <div class="activity-wrapper">
            <div class="activity-content">
                <h2 style="font-weight: bold">Do you remember time before Retromat?</h2><br>
                When I started out as a Scrum Master in 2010, me and my team did the same retrospective sprint after sprint. We got some value out of it, but failed to have any breakthroughs. Then I read "<a href="http://pragprog.com/book/dlret/agile-retrospectives" target="_blank">Agile Retrospectives</a>" and it helped a lot! 
                <br><br>
                With the 5 phases for structure and some activity ideas we started to make headway because we looked at our challenges from a new angle with each retrospective. I started to be on the lookout for new activity ideas. Unfortunately, they were scattered all over the web. My list of bookmarks grew and with them my prep-time before retrospectives, re-reading blog posts to find a good fit. 
                <br><br>
                <h2 style="font-weight: bold">A dream... </h2><br>
                It was around this time that I first dreamed of a go-to place containing lots of retrospective ideas. A place to get me started with fresh ideas, so that I could take it from there and tailor it to my team and its situation. Alas, it didn't exist. Until I build it.
                <br><br>
                <h2 style="font-weight: bold">... come true!</h2><br>
                The launch version had only 16 activities. I hoped to have 50 activities one day. 100 activities were a VERY ambitious, hazy goal. I honestly didn't think we'd get to the 120+ activities we're at now. And I added all of them on late nights and weekends. That used to be okay, but in October 2014 I became a mom. Since then I don't have late nights anymore (way too tired) and the weekends belong to my little girl. 
                <br><br>
                <h2 style="font-weight: bold">Money is Time</h2><br>
                That's why I've been slower to add activities. There's a backlog of 30+ exciting activities waiting to be added, plus features like comments and advanced search. I need some dedicated Retromat time and it can't come out of my family time. That's where your donations come in! 
                <br><br>
                Judging from emails and tweets, Retromat is really helpful to a lot of people. If half of them donated what Retromat is worth to them, I could make Retromat that much better! 
                <br><br>
                You probably know the saying "Time is money"? The reverse is also true: "Money is time"! With enough donations, I could take unpaid leave to dedicate time to Retromat. With generous donations I could make it a regular thing.
                <br><br> 
                <span style="font-weight: bold;">Has Retromat ever saved the day for you and your team? Does Retromat continue to save you time and give you ideas? Then I'd really appreciate your support!</span>
            </div>
        </div>
    </div>


    <div class="book">
        <div class="content" style="text-align: center">
                <a href="http://paypal.me/Retromat" class="donate-button"> Support Retromat!
                </a>
                <br><br>
                <span class="smallprint">Via Paypal<br>
                Donations are NOT tax-deductible</span>
        </div>
    </div>


    <div class="bg1">
        <div class="activity-wrapper">
            <div class="activity-content">
                <h1 style="font-weight: bold; font-size: large">Frequently Asked Questions<h1>
                <br><br>
                <h2 style="font-weight: bold">Is this tax-deductible? Are you a charitable entity?
                </h2>
                No to both. Retromat is not a charitable organization and "donations" are not tax-deductible. Sorry!
                <br><br>
                <h2 style="font-weight: bold">Do I get a receipt of any kind?</h2>
                If you need it just for your own documents, you can <a href="mailto:corinna@finding-marbles.com">email me</a> with the relevant data and I will send you a receipt. <br>
                If you need an invoice to expense at your employer that looks better than a  non-tax-deductible "donation", consider buying <a href="https://leanpub.com/facilitation-1pagers">this book</a> instead of the Paypal route. You can set your own price, I'll get about 70% of it and the book shop takes care of VAT and the invoice.
                <br><br>
                <h2 style="font-weight: bold">Can I also donate via Bank Transfer?</h2>
                Yes: Corinna Baldauf, IBAN: DE09500310001032818001, BIC / SWIFT: TRODDEF1
                <br><br>
                <h2 style="font-weight: bold">Why donations? Why not Ads / Patreon / ...?</h2>
                I've thought about alternatives, but they all come up short: I hate ads. I’m not sure how I feel about sponsorship, but I’d probably only accept sponsors I genuinely think are good, which limits the possibilities... <br>
                Patreon is a cool concept, but I would have to come up with additional stuff for the Patrons and I can't even keep up the basic Retromat work that I think is crucial...
                <br>That's why I'm trying donations first. With your donation you help keeping Retromat free and ad-free.
            </div>
        </div>
    </div>

<div class="about">
    <div class="content">

        <h1 style="font-size: large">Any other questions?</h1>
    <br>
        Please don't hesitate to ask! You can contact me via <a href="mailto:corinna@finding-marbles.com">email</a> or
        <a href="http://www.twitter.com/findingmarbles">Twitter</a>.
        <br><br>
        Imprint:
        <br>
        Corinna Baldauf<br>
        K&uuml;hlwetterstr. 30<br>
        40239 D&uuml;sseldorf
        <br><br>


    </div>
</div>

    <div class="book">
        <div class="content" style="text-align: center">
                <a href="http://paypal.me/Retromat" class="donate-button"> Support Retromat!
                </a>
                <br><br>
                <span class="smallprint">Via Paypal<br>
                Donations are NOT tax-deductible</span>
        </div>
    </div>

<!-- Piwik -->
<noscript><img src="//plans-for-retrospectives.com/piwik/piwik.php?idsite=2&rec=1&bots=1" style="border:0;" alt="" /></noscript>
<!-- End Piwik Code -->
</body>
</html>
