
 <div class="footer">
   <div class="content">
      <div style="clear:both">
           <a href="/blog/imprint-privacy">
               Imprint &amp; Privacy Policy
            </a>
        </div>
    </div><!-- .content -->
</div><!-- .footer -->