<!DOCTYPE html>
<html>
<head>
    <title>Support Retromat!</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif" />
    <link rel="stylesheet" type="text/css" href="/static/retromat.css" />
    <link rel="shortcut icon" href="/favicon.ico" />

    <style>

    #header {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    padding: 8px 20px 8px 12px;
    color: #fff;
    font-size: 0.8em;

    background: rgb(40,61,48); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(40,61,48,1) 0%, rgba(0,20,13,1) 84%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(40,61,48,1)), color-stop(84%,rgba(0,20,13,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(40,61,48,1) 0%,rgba(0,20,13,1) 84%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(40,61,48,1) 0%,rgba(0,20,13,1) 84%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(40,61,48,1) 0%,rgba(0,20,13,1) 84%); /* IE10+ */
    background: linear-gradient(top,  rgba(40,61,48,1) 0%,rgba(0,20,13,1) 84%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#283d30', endColorstr='#00140d',GradientType=0 ); /* IE6-9 */

    z-index: 5;

    /* outer shadows  (note the rgba is red, green, blue, alpha) */
    -moz-box-shadow:    0px 0px 4px 4px rgba(40, 40, 40, 0.6);
    -webkit-box-shadow: 0px 0px 4px 4px rgba(40, 40, 40, 0.6);
    box-shadow:         0px 0px 4px 4px rgba(40, 40, 40, 0.6);
}

#header a {
    color: #fff;
    text-decoration:none;
}

#header a:hover {
    color: #fff;
    text-decoration:underline;
}

#logo {
    margin-left: 5px;
    margin-bottom: -3px;
}

        .donate-button {
            display: inline-block;
            padding: 10px;
            text-decoration: none;
            background-color: darkorange;
            border-radius: 5px;
            border: 2px white solid;
        }
        a.donate-button {
            color: white;
        }
        
        .smallprint {
            font-size: small;
            color: #aaa;
        }

        .content, 
        .activity-content {
            font-size: larger;
            line-height: 20px;
        }

    </style>

    <!-- Matomo -->
    <script type="text/javascript">
        var _paq = _paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//retromat.org/piwik/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', '3']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <!-- End Matomo Code -->
</head>

<body class="imprint">

<div id="header">
    <a href="{{ path('activities_by_id') }}">Back to <img id="logo" src="/static/images/logo_white.png" alt="Retromat" title="Retromat"></a>
</div>

    <div class="bg0">
        <div class="activity-wrapper">
            <div class="activity-content">


									<h1 class="entry-title">Retromat.org: Imprint, Privacy &#038; Cookies</h1>

									<h2>Imprint</h2>
<p>Accountable for all content is:</p>
<p>Corinna Baldauf<br />
Fährstr. 260<br />
40221 Düsseldorf<br />
Germany</p>
<p>You can best reach me via email: corinna@finding-marbles.com</p>
<p>This site does not use any affiliate links.</p>
<h2>Privacy Policy &amp; Cookie Policy</h2>
<h3>Short English version:</h3>
<p>Our statistics tool Piwik / Matomo stores data such as your IP. We use Piwik because we like to know how many visitors this site has and which language they use. Stored is a lot more though like location, device, browser, &#8230; It&#8217;s hosted on this server and not shared with anyone. Piwik uses cookies to track repeat visits.</p>
<p>If you subscribe to the newsletter, your data stays between Mailchimp and me. I&#8217;m never gonna give you data to anyone else. There&#8217;s an unsubscribe button at the bottom of each email because I get a fit of rage if emails of other parties don&#8217;t provide an unsubscribe link. I treat my subscribers better.</p>
<p>Mailchimp actually tracks a lot, e.g. who clicked which link how often. I&#8217;m not interested in these individual things. I just want to know how many subscribers opened the email and clicked in total.</p>
<p>My hoster stores your IP in access logs. They delete the logs after 7 days.</p>
<p>If you ever order a Print Retromat all of your input is stored in a Google Spreadsheet, as I use Google Forms as the order form.</p>
<p>If you visit this site, you agree to all of this. You can ask us about what data we store about you at any time and you can also ask us to delete any trace of you. We&#8217;ll oblige to the best of my ability.</p>
<h3>Datenschutzerklärung</h3>
<p>Diese Datenschutzerklärung klärt Sie auf über die Art, den Umfang und Zweck der Verarbeitung von personenbezogenen Daten (nachfolgend kurz „Daten“) innerhalb unseres Onlineangebotes. Im Hinblick auf die verwendeten Begrifflichkeiten, wie z.B. „Verarbeitung“ oder „Verantwortlicher“ verweisen wir auf die Definitionen im Art. 4 der Datenschutzgrundverordnung (DSGVO).</p>
<h3>Arten der verarbeiteten Daten</h3>
<ul>
<li>Bzgl. der Besucher dieser Website: Nutzungsdaten der Webseite (z.B. besuchte Seiten, Zugriffszeiten).</li>
</ul>
<h3>Kategorien betroffener Personen</h3>
<ul>
<li>Besucher und Nutzer des Onlineangebotes (Nachfolgend bezeichnen wir diese Personen zusammenfassend auch als „Nutzer“).</li>
</ul>
<h3>Zweck der Verarbeitung</h3>
<ul>
<li>Reichweitenmessung/Marketing</li>
<li>Zurverfügungstellung des Newsletters bzw. Bestellprozess</li>
</ul>
<h3>Zusammenarbeit mit Auftragsverarbeitern und Dritten</h3>
<p>Sofern wir im Rahmen unserer Verarbeitung Daten gegenüber anderen Personen und Unternehmen (Auftragsverarbeitern oder Dritten) offenbaren, sie an diese übermitteln oder ihnen sonst Zugriff auf die Daten gewähren, erfolgt dies nur auf Grundlage einer gesetzlichen Erlaubnis (z.B. wenn eine Übermittlung der Daten an Dritte, wie an Zahlungsdienstleister, gem. Art. 6 Abs. 1 lit. b DSGVO zur Vertragserfüllung erforderlich ist), Sie eingewilligt haben, eine rechtliche Verpflichtung dies vorsieht oder auf Grundlage unserer berechtigten Interessen (z.B. beim Einsatz von Beauftragten, Webhostern, etc.).</p>
<p>Sofern wir Dritte mit der Verarbeitung von Daten auf Grundlage eines sog. „Auftragsverarbeitungsvertrages“ beauftragen, geschieht dies auf Grundlage der DSGVO.</p>
<h3>Rechte der betroffenen Personen</h3>
<p>Gemäß der DSGVO haben sie das Recht zu erfahren welche Daten wir über sie speichern, wie wir diese Daten verwenden, diese Daten zu korrigieren oder zu vervollständigen und die Löschung bzw. Einschränkung der Nutzung der Daten zu verlangen. Falls nach dem Lesen dieser Datenschutzerklärung diesbezüglich noch Fragen offen bleiben, kontaktieren sie bitte die Verantwortliche über die oben aufgeführten Kontaktmöglichkeiten.</p>
<h3>Widerrufsrecht</h3>
<p>Sie haben das Recht, erteilte Einwilligungen gemäß der DSGVO mit Wirkung für die Zukunft zu widerrufen</p>
<h3>Widerspruchsrecht</h3>
<p>Sie können der künftigen Verarbeitung der Sie betreffenden Daten nach Maßgabe des Art. 21 DSGVO jederzeit widersprechen. Der Widerspruch kann insbesondere gegen die Verarbeitung für Zwecke der Direktwerbung erfolgen.</p>
<h3>Cookies und Widerspruchsrecht bei Direktwerbung</h3>
<p>Als „Cookies“ werden kleine Dateien bezeichnet, die auf Rechnern der Nutzer gespeichert werden. Innerhalb der Cookies können unterschiedliche Angaben gespeichert werden. Ein Cookie dient primär dazu, die Angaben zu einem Nutzer (bzw. dem Gerät auf dem das Cookie gespeichert ist) während oder auch nach seinem Besuch innerhalb eines Onlineangebotes zu speichern.</p>
<p>Falls die Nutzer nicht möchten, dass Cookies auf ihrem Rechner gespeichert werden, werden sie gebeten die entsprechende Option in den Systemeinstellungen ihres Browsers zu deaktivieren. Gespeicherte Cookies können in den Systemeinstellungen des Browsers gelöscht werden. Der Ausschluss von Cookies kann zu Funktionseinschränkungen dieses Onlineangebotes führen.</p>
<p>Ein genereller Widerspruch gegen den Einsatz der zu Zwecken des Onlinemarketing eingesetzten Cookies kann bei einer Vielzahl der Dienste, vor allem im Fall des Trackings, über die US-amerikanische Seite <a href="http://www.aboutads.info/choices/" rel="nofollow">http://www.aboutads.info/choices/</a> oder die EU-Seite <a href="http://www.youronlinechoices.com/" rel="nofollow">http://www.youronlinechoices.com/</a> erklärt werden. Des Weiteren kann die Speicherung von Cookies mittels deren Abschaltung in den Einstellungen des Browsers erreicht werden. Bitte beachten Sie, dass dann gegebenenfalls nicht alle Funktionen dieses Onlineangebotes genutzt werden können.</p>
<h3>Löschung von Daten</h3>
<p>Die von uns verarbeiteten Daten werden nach Maßgabe der Art. 17 und 18 DSGVO gelöscht oder in ihrer Verarbeitung eingeschränkt. Sofern die Daten nicht gelöscht werden, wird deren Verarbeitung eingeschränkt. Das gilt z.B. für Daten, die aus handels- oder steuerrechtlichen Gründen aufbewahrt werden müssen.</p>
<p>Nach gesetzlichen Vorgaben in Deutschland erfolgt die Aufbewahrung insbesondere für 6 Jahre gemäß § 257 Abs. 1 HGB (Handelsbücher, Inventare, Eröffnungsbilanzen, Jahresabschlüsse, Handelsbriefe, Buchungsbelege, etc.) sowie für 10 Jahre gemäß § 147 Abs. 1 AO (Bücher, Aufzeichnungen, Lageberichte, Buchungsbelege, Handels- und Geschäftsbriefe, Für Besteuerung relevante Unterlagen, etc.).</p>
<h3>Hosting</h3>
<p>Die von uns in Anspruch genommenen Hosting-Leistungen dienen der Zurverfügungstellung der folgenden Leistungen: Infrastrukturdienstleistungen, Rechenkapazität und Datenbankdienste, Sicherheitsleistungen sowie technische Wartungsleistungen. Diese nutzen wir zum Zwecke des Betriebs dieses Onlineangebotes.</p>
<p>Unser Hostinganbieter verarbeitet so Bestandsdaten, Kontaktdaten, Inhaltsdaten, Vertragsdaten, Nutzungsdaten, Meta- und Kommunikationsdaten von Kunden, Interessenten und Besuchern dieser Webseite auf Grundlage Interessen an einer effizienten und sicheren Zurverfügungstellung dieses Webangebotes gem. Art. 6 Abs. 1 lit. f DSGVO i.V.m. Art. 28 DSGVO (Abschluss Auftragsverarbeitungsvertrag).</p>
<p>Unser Hostinganbieter erhebt auf Grundlage unserer Interessen im Sinne des Art. 6 Abs. 1 lit. f. DSGVO Daten über jeden Zugriff auf den Server, auf dem sich dieser Dienst befindet (Serverlogfiles). Zu den Zugriffsdaten gehören abgerufene URL, Datei, Datum und Uhrzeit des Abrufs, übertragene Datenmenge, Meldung über erfolgreichen Abruf, Browsertyp nebst Version, das Betriebssystem des Nutzers, Referrer URL, IP-Adresse und der anfragende Provider.</p>
<p>Diese Informationen werden aus Sicherheitsgründen (z.B. zur Aufklärung von Missbrauchs- oder Betrugshandlungen) für die Dauer von maximal 7 Tagen gespeichert und danach gelöscht. Daten, deren weitere Aufbewahrung zu Beweiszwecken erforderlich ist, sind bis zur endgültigen Klärung von der Löschung ausgenommen.</p>
<h3>Einbindung von Diensten und Inhalten Dritter</h3>
<p>Wir setzen innerhalb unserer Webseite auf Grundlage unserer Interessen (Analyse, Optimierung und wirtschaftlichem Betrieb unseres Onlineangebotes im Sinne des Art. 6 Abs. 1 lit. f. DSGVO) Inhalts- oder Serviceangebote von Drittanbietern ein, um deren Inhalte und Services, wie z.B. Videos oder Schriftarten einzubinden (nachfolgend einheitlich bezeichnet als “Inhalte”).</p>
<p>Dies setzt immer voraus, dass die Drittanbieter dieser Inhalte, die IP-Adresse der Nutzer wahrnehmen, da sie ohne die IP-Adresse die Inhalte nicht an den Browser senden könnten. Die IP-Adresse ist damit für die Darstellung dieser Inhalte erforderlich. Wir bemühen uns nur solche Inhalte zu verwenden, deren jeweilige Anbieter die IP-Adresse lediglich zur Auslieferung der Inhalte verwenden. Drittanbieter können ferner so genannte „Pixel-Tags“ für statistische oder Marketingzwecke verwenden. Durch die „Pixel-Tags“ können Informationen, wie der Besucherverkehr auf den Seiten dieser Website ausgewertet werden. Wir bemühen uns soweit möglich bei dieser Einbindung die Anonymisierung der Daten zu veranlassen. Die pseudonymen Informationen können ferner in Cookies auf dem Gerät der Nutzer gespeichert werden und unter anderem technische Informationen zum Browser und Betriebssystem, verweisende Webseiten, Besuchszeit sowie weitere Angaben zur Nutzung unseres Onlineangebotes enthalten, als auch mit solchen Informationen aus anderen Quellen verbunden werden.</p>
<h3>Sonstiges</h3>
<p>Dann benutzen wir noch <strong>Mailchimp</strong> um den Newsletter zu verschicken. Es ist Double-Opt-In und es ist ein Unsubscribe-Link in jeder Email. Die Daten erfährt niemand außer Mailchimp und uns. Ah, Mailchimp trackt relativ viel, wer welchen Link wie oft angeklickt hat und so. Mich interessiert aber eigentlich nur wieviele insgesamt die Mail geöffnet und geklickt haben, alle Gesamtstatistiken statt Einzele.</p>
<p>Das Bestellformular für Print-Retromaten ist ein Google Form. Daher werden auch die Bestelldaten in einem Google Spreadsheet gespeichert.</p>
<p>Wow, you&#8217;ve read through all of this? Get yourself a cookie! (The real kind with choclate chips, not a virtual one ;))</p>

            </div>
        </div>
    </div>

<!-- Matomo -->
<noscript><img src="//retromat.org/piwik/piwik.php?idsite=3&amp;rec=1" style="border:0;" alt="" /></noscript>
<!-- End Matomo Code -->
</body>
</html>
