<!DOCTYPE html>
<html lang="en">
<head>
    <title>Retromat Membership</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"> 

    <link rel="stylesheet" type="text/css" href="/static/retromat.css" />
    <link rel="shortcut icon" href="/favicon.ico" />

    <!-- Matomo -->
    <script type="text/javascript">
        var _paq = _paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//retromat.org/piwik/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', '3']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <!-- End Matomo Code -->
</head>

<body class="page">

{% include 'topnavi.html.twig' ignore missing  %}

<script src="https://cdn.paddle.com/paddle/paddle.js"></script>
<script type="text/javascript">
    Paddle.Setup({ vendor: 118208 });
</script>

    <div class="pitch">
        <div class="content">
            <div class="inner font-serif">
                <h1>Chip in to make Retromat sustainable</h1>
                <h2>Become a Retro Mate!</h2>
            </div>
        </div>
    </div>

    <div class="bg3">
        <div class="content">
            <div class="inner">          

Imagine a world without Retromat. What is it like? How would you prepare your retrospectives? 
<br><br>
That used to be my world: I read lots of blog posts, leafed through <a href="https://pragprog.com/titles/dlret/" target="_blank">the book</a>, consulted my notes etc. Planning a good retrospective took forever. There had to be a better way to get ideas! And lots of them!
<br><br>
Hi, my name is <a href="https://twitter.com/corinnabaldauf" target="_blank">Corinna Baldauf</a> and in 2012 I build that better, faster, easier way: Retromat. Since then, I've spent a lot of my free time taking care of Retromat, <a href="https://retromat.org/blog/" target="_blank">blogging</a> and creating <a href="https://wall-skills.com" target="_blank">1-pagers</a>. Over the years, my free time shrank and the upkeep work ballooned. Not a good combination. <a href="https://retromat.org/blog/help-make-retromat-sustainable/" target="_blank">Crushing, actually</a>.
<br><br>
The good news is, you can help! Ever heard of "Time is money"? The reverse is also true: Money can buy time. If 5% of the ten thousands of people who frequently use Retromat chip in, I can invest time into Retromat and other projects for the community.
<br><br>
While there are <a href="https://retromat.org/en/books" target="_blank">one-time ways to throw money at me</a>, the real game-changer is reliable, regular income: Subscriptions allow me to plan and to reduce hours at my day job.
<br><br>
You appreciate Retromat and <a href="https://wall-skills.com" target="_blank">Wall-Skills</a>? Well, there is more where that came from. Lots more! All I need is time to get it out of my brain. I've got a track record of creating valuable content and tools, given chunks of time.

        </div>
    </div>
</div>

    <div class="bg1 listing">
        <div class="content">
            <div class="inner">

            <h2 class="font-serif">How much value does Retromat add for you?</h2>     

            <h3 class="font-serif">Enterprise Level</h3>
            
            You are a team of facilitators in a sizeable organization and use many of my materials to level everyone up
            <br><br>
            <b><span class="paddle-gross" data-product="600584">&euro;49.90</span> per month</b> (49.90&euro; + taxes)
            <br><br>
            <a href="#!" class="paddle_button button-medium" data-theme="none" data-product="600584" style="color: white">Subscribe for Enterprise Membership</a>
            

            <h3 class="font-serif">Team Level</h3>

            You are heavy users. And fans :)
            <br><br>
            <b><span class="paddle-gross" data-product="600592">&euro;19.90</span> per month</b> (19.90&euro; + taxes)
            <br><br>
            <a href="#!" class="paddle_button button-medium" data-theme="none" data-product="600592" style="color: white">Subscribe for Team Membership</a>
            

            <h3 class="font-serif">Facilitator Level</h3>

            Facilitation is your main job. You use Retromat a lot and it saves you tons of time
            <br><br>
            <b><span class="paddle-gross" data-product="600593">&euro;9.90</span> per month</b> (9.90&euro; + taxes)
            <br><br>
            <a href="#!" class="paddle_button button-medium" data-theme="none" data-product="631417" style="color: white">Subscribe for Facilitator Membership - Yearly bill</a>
            <br><br>
            <a href="#!" class="paddle_button button-medium" data-theme="none" data-product="600593" style="color: white">Subscribe for Facilitator Membership – Monthly bill</a>
            

            <h3 class="font-serif">Basic Level</h3>

            You're a single person that holds at most 2 retrospectives a month and Retromat makes them better
            <br><br>
            <b><span class="paddle-gross" data-product="600591">&euro;4.90</span> per month</b> (4.90&euro; + taxes)
            <br><br>

            <a href="#!" class="paddle_button button-medium" data-theme="none" data-product="607800" style="color: white">Subscribe for Basic Membership – Yearly bill</a>
            <br><br>
            <a href="#!" class="paddle_button button-medium" data-theme="none" data-product="600591" style="color: white">Subscribe for Basic Membership – Monthly bill</a>

        </div>
    </div>
</div>


    <div class="bg3 faq">
        <div class="content">
            <div class="inner">

<h2 class="font-serif">FAQ</h2>

<h3>What will you do with the freed up time??</h3>
<br>
I hesitate to list anything, because there's no guarantee which of these I will do. The list is endless and if I can maybe do 5-10% of them I'll count myself lucky. Given this, here's the list of things I'd really like to get around to:
<br>
<ul>
    <li>Add activities from a backlog of 40+ suggestions</li>
    <li>Build a mobile view</li>
    <li>Enable comments or a forum or both</li>
    <li>Build advanced search</li>
    <li>Turn some of 40+ topic ideas into blog posts</li>
    <li>Bring back the mailing list (pricey)</li>
    <li>Summarize some of 50+ ideas into Wall-Skills 1-pagers</li> 
    <li>Finish one of my 3 book outlines</li>
    <li>Implement sister projects like Liftoff-O-Mat, Planning-O-Mat, ...</li>
    <li>Develop physical products like the Scrum Master Emergency Kit, ...</li>
    <li>...</li>
</ul>
<br>

<h3>How can I cancel / unsubscribe?</h3>
You can cancel / unsubscribe at any time. There's no cancellation period. You can unsubscribe by clicking the link in the billing emails. 
<br><br>
Alternatively, you can unsubscribe via email to corinna@retromat.org. No hard feelings, no questions asked. Please allow up to a week to handle your cancellation. If my delay made you run into the next billing cycle, I'll refund you. 
<br><br><br>

<h3>What tax comes on top?</h3>
Your local tax, e.g. Value Added Tax (VAT), sales tax, ... Whatever applies in your corner of the world. And yes, during checkout you can enter your organization's tax ID.

        </div>
    </div>
</div>


<div class="about">
    <div class="content">
        <div class="inner font-serif">
                <h3>Any questions?</h3>
                You can contact Corinna Baldauf <a href="mailto:corinna@retromat.org">via email</a> or
                <a href="https://twitter.com/corinnabaldauf">Twitter</a>.
        </div>
    </div>
</div>

{% include 'footer.html.twig' ignore missing  %}

<!-- Matomo -->
<noscript><img src="//retromat.org/piwik/piwik.php?idsite=3&amp;rec=1" style="border:0;" alt="" /></noscript>
<!-- End Matomo Code -->
</body>
</html>
