<!DOCTYPE html>
<html>
<head>
    <title>Membership</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link rel="stylesheet" type="text/css" href="/static/retromat.css" />
    <link rel="stylesheet" type="text/css" href="/print/styles.css" />
    <link rel="shortcut icon" href="/favicon.ico" />

    <!-- Matomo -->
    <script type="text/javascript">
        var _paq = _paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//retromat.org/piwik/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', '3']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <!-- End Matomo Code -->
</head>

<body class="subpage">

{% include 'topnavi.html.twig' ignore missing  %}

<script src="https://cdn.paddle.com/paddle/paddle.js"></script>
<script type="text/javascript">
    Paddle.Setup({ vendor: 118208 });
</script>

<div class="pitch">
    <div class="content" style="text-align: center">
        Become a Retro Mate!
        </div>
</div>

<div class="bg3">
    <div class="activity-wrapper">
        <div class="activity-content">              

Hi, my name is <a href="https://twitter.com/findingmarbles" target="_blank">Corinna Baldauf</a>. I started facilitating retrospectives in 2010. Back then, planning a good retrospective took me forever. I leafed through books, searched the internet for blog posts, looked through my notes – All looking for inspiration. There had to be a better way to find great ideas!
<br><br>
In 2012, I had 1 month of free time between jobs and used it to build that faster &amp; easier way: Retromat. 
<br><br>
Ever since, I've spent the majority of my free time maintaining and improving Retromat, <a href="https://retromat.org/blog/" target="_blank">blogging</a> and creating <a href="https://wall-skills.com" target="_blank">1-page summaries on Wall-Skills.com</a>. Over time, the free time became much less and the work got more. Not a good combination. <a href="https://retromat.org/blog/help-make-retromat-sustainable/" target="_blank">Crushing, actually.</a>
<br><br>
The good news is: You can help. Ever heard "Time is money"? The reverse is also true: Money can buy time. If the tens of thousands of people that use Retromat supported it, I could reduce hours at my day-job, improve Retromat and create even more valuable content and tools.
<br><br>
While there are <a href="https://retromat.org/en/books" target="_blank">one-off ways to throw money at me</a>, the real game-changer is reliable, regular income aka subscriptions. Subscriptions allow me to plan and reduce hours. 
<br><br>
So, if you like Retromat and <a href="https://wall-skills.com" target="_blank">Wall-Skills.com</a> there is more where that came from. Lots more! But I need time to get it out of my brain. Trust me, I've got a track record of creating cool content and tools whenever given time.

        </div>
    </div>
</div>

<div class="bg1">
    <div class="activity-wrapper">
        <div class="activity-content">

            <h2 style="font-family: droid-serif; font-size: 1.5rem;
margin-top: 1rem; text-align: center;">How much value does Retromat add for you?</h2>          

If Retromat didn't exist, how much would you pay to get access to it? What would it be worth to you?

            <h3 style="font-family: droid-serif; font-size: 1.3rem;
margin-top: 2.5rem;
margin-bottom: 0.7rem;">Enterprise Level</h3>
            
            You are in a team of facilitators in a sizeable organization and use many of our materials to level everyone up
            <br><br>
            <b>&euro; 49.90</b> + tax per month
            <br><br>
            <a href="#!" class="paddle_button order-button" data-theme="none" data-product="600584" style="color: white">Subscribe for Enterprise Membership</a>
            

            <h3 style="font-family: droid-serif; font-size: 1.3rem;
margin-top: 2.5rem;
margin-bottom: 0.7rem;">Team Level</h3>

            You are heavy users. And fans :)
            <br><br>
            <b>&euro; 19.90</b> + tax per month
            <br><br>
            <a href="#!" class="paddle_button order-button" data-theme="none" data-product="600592" style="color: white">Subscribe for Team Membership</a>
            

            <h3 style="font-family: droid-serif; font-size: 1.3rem;
margin-top: 2.5rem;
margin-bottom: 0.7rem;">Single User Level</h3>

            You use Retromat a lot and it saves you tons of time
            <br><br>
            <b>&euro; 9.90</b> + tax per month
            <br><br>
            <a href="#!" class="paddle_button order-button" data-theme="none" data-product="600593" style="color: white">Subscribe for Single User Membership</a>
            

            <h3 style="font-family: droid-serif; font-size: 1.3rem;
margin-top: 2.5rem;
margin-bottom: 0.7rem;">Basic Level</h3>

            You're a single person that holds like 2 retrospectives per month and Retromat makes them much better
            <br><br>
            about <b>&euro; 5.00</b> per month (&euro; 4.00 + your local tax)
            <br><br>
            <a href="#!" class="paddle_button order-button" data-theme="none" data-product="600593" style="color: white">Subscribe for Basic Membership – Bill monthly</a> or <a href="#!" class="paddle_button order-button" data-theme="none" data-product="607800" style="color: white">Subscribe for Basic Membership – Bill once per year</a>

        </div>
    </div>
</div>


<div class="bg3">
    <div class="activity-wrapper">
        <div class="activity-content">

<h2 style="font-family: droid-serif; font-size: 1.5rem;
margin-bottom: 0.7rem;">FAQ</h2>

<h3 style="font-weight: bold; font-size: 1.2em;">How can I cancel / unsubscribe?</h3>
<br>
You can cancel / unsubscribe at any time. There's no cancellation period. 
<br><br>
You can cancel by clicking the link in the order receipt email that Paddle sends out. 
<br><br>
You can unsubscribe via email to corinna@retromat.org. No hard feelings, no questions asked, don't worry :) 
<br>Pleas tell me the email address that you subscribed with so that I can find your account.
<br><br> 
Please allow up to a week to handle your cancellation. I do this manually. If that made you run into the next billing cycle, I'll refund you. 
<br><br><br>
<h3 style="font-weight: bold; font-size: 1.2em;">What tax comes on top?</h3>
<br>
Your local tax, e.g. Value Added Tax (VAT), sales tax, ... Whatever applies in your corner of the world. And yes, during checkout you can enter your organization's tax ID.
<br><br><br>
<h3 style="font-weight: bold; font-size: 1.2em;">Why is the basic price an estimate that includes tax, while the other don't have an estimate?</h3>
<br>
Based on my research, I assume that the "Basic" option is for individual people, i.e. employees that have to actually pay the tax. Whereas the other options are for professional entities (freelance coaches, companies, ...) that usually don't care about this tax.

        </div>
    </div>
</div>


<div class="about">
    <div class="content">

        <h1>Any questions?</h1>
    <br>
        You can contact Corinna Baldauf via <a href="mailto:corinna@retromat.org">email</a> or
        <a href="https://www.twitter.com/findingmarbles">Twitter</a>.
    </div>
</div>

{% include 'footer.html.twig' ignore missing  %}

<!-- Matomo -->
<noscript><img src="//retromat.org/piwik/piwik.php?idsite=3&amp;rec=1" style="border:0;" alt="" /></noscript>
<!-- End Matomo Code -->
</body>
</html>
