
<div class="header">
    <a href="{{ path('activities_by_id') }}" class="header__logo">
        <img class="header__logo" src="/static/images/logo_white.png" alt="Retromat" title="Retromat"></a>

{% if showLanguages == true %}

    <select class="languageswitcher" onChange="switchLanguage(this.value)">
        <option value="de" <?php echo(print_if_selected("de", $lang)); ?> >Deutsch (100 Aktivit&auml;ten)</option>
        <option value="en" <?php echo(print_if_selected("en", $lang)); ?> >English (133 activities)</option>
        <option value="es" <?php echo(print_if_selected("es", $lang)); ?> >Espa&ntilde;ol (108 actividades)</option>
        <option value="fr" <?php echo(print_if_selected("fr", $lang)); ?> >Fran&ccedil;ais (59 activit&eacute;s)</option>
        <option value="nl" <?php echo(print_if_selected("nl", $lang)); ?> >Nederlands (101 activiteiten)</option>
        <option value="ru" <?php echo(print_if_selected("ru", $lang)); ?> >Русский (133 упражнений)</option>
	<option value="zh" <?php echo(print_if_selected("zh", $lang)); ?> >中文 (129 活动)</option>
    </select>

{% endif %}


      <span class="navi">
	      <a href="{{ path('about') }}">About</a> |
	      <a href="{{ path('books') }}">Books</a>
	        <!--  
	        <a href="{{ path('donate') }}">Donate</a> |
	        <?php echo($_lang['INDEX_NAVI_WHAT_IS_RETRO']); ?> |
	        <?php echo($_lang['INDEX_NAVI_ABOUT']); ?> |
	        <?php echo($_lang['INDEX_NAVI_PRINT']); ?> |
	        <?php echo($_lang['INDEX_NAVI_ADD_ACTIVITY']); ?>
	        -->
      </span>
</div>
