
<div class="header">
    <a href="{{ path('activities_by_id') }}" class="header__logo">
        <img class="header__logo" src="/static/images/logo_white.png" alt="Retromat" title="Retromat"></a>


      <span class="navi">
		      <a href="/blog/">Blog</a> |
		      <a href="/en/books">Books</a> |
		      <a href="/en/membership">Membership</a> | 
		      <a href="/en/about">About</a>
      </span>
</div>
