
<div class="header">
    <a href="{{ path('activities_by_id') }}" class="header__logo">
        <img class="header__logo" src="/static/images/logo_white.png" alt="Retromat" title="Retromat"></a>


      <span class="navi">
	      <a href="{{ path('about') }}">About</a> |
	      <a href="{{ path('books') }}">Books</a>
      </span>
</div>
