{% extends 'team/base.html.twig' %}

{% block title %}Retromat Team Dashboard{% endblock %}

{% block body %}
    <h1>Dashboard</h1>
    <div><p>Hello {{ app.user.username }} :-)</p></div>
{% endblock %}
