{% extends 'team/base.html.twig' %}

{% block title %}Retromat Team Dashboard{% endblock %}

{% block body %}
    <h1>Dashboard</h1>
    <div><p>Hello {{ app.user.username }} :-)</p></div>
    {% if(is_granted('ROLE_ADMIN')) %}
        <br>
        <h4>External Admin Tools</h4>
        <ul>
            <li>Collaboation
                <ul>
                    <li><a href="https://github.com/findingmarbles/Retromat">Github Repo</a></li>
                    <li><a href="https://drive.google.com/drive/u/0/folders/0B6hEusnRormEdVlBZXQ5dnRmQUk">Google
                            Drive
                            Folder</a></li>
                </ul>
            </li>
            <li>Uberspace
                <ul>
                    <li>Traffic Stats (todo)</li>
                    <li><a href="https://uberspace.de/dashboard/datasheet">Quota (Disk + Database)</a></li>
                </ul>
            </li>
            <li>Analytics
                <ul>
                    <li><a href="https://retromat.org/piwik/index.php">Piwik (current)</a></li>
                    <li><a href="http://finding-marbles.com/piwik/">Piwik (historic)</a></li>
                </ul>
            </li>
            <li>Webmaster Tools
                <ul>
                    <li><a href="https://www.google.com/webmasters/tools/home?hl=en">Google Search Console</a>
                    </li>
                    <li><a href="https://www.bing.com/webmaster/home/dashboard">Bing Webmaster Tools</a></li>
                    <li><a href="https://webmaster.yandex.com/">Yandex Webmaster Tools</a></li>
                </ul>
            </li>
        </ul>
    {% endif %}
{% endblock %}
