<!DOCTYPE html>
<html>
<head>
    <title>Anton Skornyakov</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link rel="stylesheet" type="text/css" href="/static/retromat.css"/>
    <link rel="shortcut icon" href="/favicon.ico"/>
</head>

<body class="page">

{% include 'topnavi.html.twig' %}

<div class="pitch">
    <div class="content" style="text-align: center">
        <div class="inner font-serif">
            Anton Skornyakov
        </div>
    </div>
</div>

<div class="bg3">
    <div class="content">
        <div class="inner">
                <a href="http://skornyakov.de">
                    <img src="/static/images/team/anton_skornyakov.jpg" width="70" height="93" title="Anton Skornyakov"
                         class="team-photo">
                </a>
                <h3 style="margin-bottom: 10px">
                    Translator                   <a href="http://skornyakov.de">
                        Anton Skornyakov
                    </a>
                </h3>
                Anton works as a Scrum coach and trainer with many different organizations. He gives trainings for Scrum Masters: <a href="https://agile.coach/training/scrum-master-zertifizierung/">CSM</a> and product owners: <a href="https://agile.coach/training/product-owner-zertifizierung/">CSPO</a>. Contact him via <a href="https://twitter.com/antonskornyakov" rel="nofollow">Twitter</a>!
        </div>
    </div>
</div>

<div class="about">
    <div class="content">
        <div class="inner font-serif">
                <h3>Any questions?</h3>
                You can contact Corinna Baldauf <a href="mailto:corinna@retromat.org">via email</a> or
                <a href="https://twitter.com/corinnabaldauf">Twitter</a>.
        </div>
    </div>
</div>

{% include 'footer.html.twig' ignore missing %}

<!-- Matomo -->
<noscript><img src="//retromat.org/piwik/piwik.php?idsite=3&amp;rec=1" style="border:0;" alt=""/></noscript>
<!-- End Matomo Code -->
</body>
</html>
