<!DOCTYPE html>
<html>
<head>
    <title>Anton Skornyakov</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link rel="stylesheet" type="text/css" href="/static/retromat.css"/>
    <link rel="stylesheet" type="text/css" href="/print/styles.css"/>
    <link rel="shortcut icon" href="/favicon.ico"/>
</head>

<body class="subpage">

{% include 'topnavi.html.twig' %}

<div class="pitch">
    <div class="content" style="text-align: center">
        Anton Skornyakov
    </div>
</div>

<div class="bg3">
    <div class="activity-wrapper">
        <div class="activity-content">
            <a href="https://fiddike.com/">
                <img src="/static/images/team/anton_skornyakov.jpg" width="70" height="93" title="Anton Skornyakov"
                     class="team-photo">
            </a>
            <h3 style="margin-bottom: 10px">
                Переводчик                   <a href="http://skornyakov.de">
                    Антон Скорняков
                </a>
            </h3>
            Антон работает Скрам коучом и тренером со множеством разных организаций. Линк на его тренинги для Скрам мастеров - <a href="https://agile.coach/training/scrum-master-zertifizierung/">CSM</a> и владельцев продукта – <a href="https://agile.coach/training/product-owner-zertifizierung/">CSPO</a>. Пишите ему на <a href="https://twitter.com/antonskornyakov" rel="nofollow">Twitter</a>!
        </div>
    </div>
</div>

<div class="about">
    <div class="content">

        <h1>Any questions?</h1>
        <br>
        You can contact Corinna Baldauf via <a href="mailto:corinna@finding-marbles.com">email</a> or
        <a href="https://www.twitter.com/findingmarbles">Twitter</a>.
    </div>
</div>

{% include 'footer.html.twig' ignore missing %}

<!-- Matomo -->
<noscript><img src="//retromat.org/piwik/piwik.php?idsite=3&amp;rec=1" style="border:0;" alt=""/></noscript>
<!-- End Matomo Code -->
</body>
</html>
