<!DOCTYPE html>
<html>
<head>
    <title>Timon Fiddike - Agile Coach and Scrum Trainer</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link rel="stylesheet" type="text/css" href="/static/retromat.css"/>
    <link rel="shortcut icon" href="/favicon.ico"/>
</head>

<body class="page">

{% include 'topnavi.html.twig' %}

<div class="pitch">
    <div class="content" style="text-align: center">
        <div class="inner font-serif">
            Timon Fiddike
        </div>
    </div>
</div>

<div class="bg3">
    <div class="content">
        <div class="inner">
                <a href="https://fiddike.com/">
                    <img src="/static/images/team/timon_fiddike.jpg" width="70" height="93" title="Timon Fiddike"
                         class="team-photo">
                </a>
                <h3>
                    Retromat is Co-developed by <a href="https://fiddike.com/">
                        Timon Fiddike
                    </a>
                </h3>
                Timon gives <a href="https://agile.coach/training/scrum-schulung-inhouse/">Scrum Trainings</a>. As
                Integral Coach and <a href="https://agile.coach/">Agile Coach</a> he coaches executives, managers,
                product owners and scrum masters. He has used Retromat since 2013 and started to build new features in
                2016. You can <a href="mailto:retromat@fiddike.com">email him</a> or
                <a href="https://twitter.com/TimonFiddike">follow him on Twitter</a>. Photo © Ina Abraham.
        </div>
    </div>
</div>

<div class="about">
    <div class="content">
        <div class="inner font-serif">
            <h3>Any questions?</h3>
            You can contact Corinna Baldauf <a href="mailto:corinna@retromat.org">via email</a> or
            <a href="https://twitter.com/corinnabaldauf">Twitter</a>.
        </div>
    </div>
</div>

{% include 'footer.html.twig' ignore missing %}

<!-- Matomo -->
<noscript><img src="//retromat.org/piwik/piwik.php?idsite=3&amp;rec=1" style="border:0;" alt=""/></noscript>
<!-- End Matomo Code -->
</body>
</html>
