<!DOCTYPE html>
<html>
<head>
    <title>Retromat - The Print Edition</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif" />
    <link rel="stylesheet" type="text/css" href="/print/styles.css" />
    <link rel="shortcut icon" href="/favicon.ico" />

    <script src="/static/jquery.min.js"></script>
    <script src="/static/lightbox/lightbox.js"></script>
    <link href="/static/lightbox/lightbox.css" rel="stylesheet" />


    <script>
        var default_value = 'Your email address';

        function removeDefaultText(){
            var email_field = document.getElementById("email_address");
            if(email_field.value == default_value){
                email_field.value = "";
            }
        }

        function setDefaultText(){
            var email_field = document.getElementById("email_address");
            if(email_field.value == ''){
                email_field.value = default_value;
            }
        }
    </script>

    <style>
        .offer h3 {
            margin-bottom: -12px;
            color: orange;
            font-size: 19px;
            font-weight: bold;
        }
    </style>

    <!-- Piwik -->
    <script type="text/javascript">
        var _paq = _paq || [];
        // tracker methods like "setCustomDimension" should be called before "trackPageView"
        _paq.push(["setCookieDomain", "*.plans-for-retrospectives.com"]);
        _paq.push(["setDomains", ["*.plans-for-retrospectives.com"]]);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//plans-for-retrospectives.com/piwik/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', '2']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <!-- End Piwik Code -->
</head>

<body>

<div id="header">
    <a href="{{ path('activities_by_id') }}">Back to <img id="logo" src="/static/images/logo_white.png" alt="Retromat" title="Retromat"></a>
</div>

<div id="title">
    <div class="content">
        <h1>Retromat<br>
            <span class="umph">Print Edition</span><br>
            On sale until Nov 1st
        </h1>
    </div>
</div>
<!--
<div class="subscribe">
    <div class="content">
        <div>
        Print Retromat - a flipbook with 50 activities will be on sale from Oct 16th till Nov 1st, 2017. 
            Want to get notified?  
	    Subscribe to the monthly Retromat newsletter<br><br>
            <form action="https://finding-marbles.us7.list-manage.com/subscribe/post?u=e8749d4c3e1a6d758a4bd1d93&amp;id=7697399e07" method="post" name="subscribe_form" class="subscribe_form" target="_blank">
                <input type="email" id="email_address" name="EMAIL" class="subscribe_input" value="Your email address" onfocus="javascript:removeDefaultText();" onblur="javascript:setDefaultText();"><br>
                <input type="submit" class="subscribe_submit" value="Get notified!">
            </form>
        </div>

        <div class="no_spam">I won't share your address with anyone (except
        Mailchimp)
        </div>
    </div>
</div>
-->
<div class="summary">
    <div class="content">
        
        <a href="/static/images/print/retromat_print-edition_cover.jpg" rel="lightbox[retromat]" title="The cover in all its splendour">
            <img src="/print/images/retromat_fan.png" width="142" height="252" style="box-shadow: none; dispay: block; float: left">
        </a>
        <a href="/static/images/print/print-retromat_in_action.jpg" rel="lightbox[retromat]" title="A print edition in action - Photo by Tony O&quot;Halloran">
        </a>
        <a href="/static/images/print/unboxing_print-retromat_at_7digital.jpg" rel="lightbox[retromat]" title="Unboxing at 7digital UK - Photo by Christine O'Dell">
        </a>
        <br>
        You click around in Retromat just for the fun of it? You like to interact with real, physical objects?
        <br><br>
        Great, the Retromat Print Edition is for you! It's useful, it's beautiful, and it's fun!
        <br><br>
        The print equivalent of the digital Retromat contains <a href="/en/sources">50 activities</a> -
        10 for each of the 5 phases.
        You can either flip all phases in sync to get 10 matched plans - ordered from "beginner-friendly" to
        "experienced facilitator" - or flip around to mix-and-match a plan (much as with the digital version).
        The latter allows for 100,000 different combinations for retrospectives lasting between 60 to 120 minutes.
        <br><br><br><br><br>

        The Print edition is so much fun to play with! See it in action:
        <br><br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/aUOEOTZO68M?rel=0" frameborder="0" allowfullscreen></iframe>
        <br><br><br><br>

        Starting Oct 16th, 2017 there will be 300 copies available. 
<!-- Secure your copy now! -->
        <br><br>

        <table style="border: 3px solid rgba(255,255,255,.8); background-color: rgba(255,255,255,.2)">
            <tr>
                <td class="offer" style="background-color: rgba(0,0,0,.1)">
                    <h3>Cut-It-Yourself Edition</h3><br>
                    <b>15 €</b> (18 $)<br><br>

                    1 Retromat Print Edition Uncut - Cut it yourself, make it yours!<br>
<a href="https://www.youtube.com/watch?v=BxyFLftY_Zk" target="_blank">Here's how to cut one</a> with a pair of 25cm (10 inches) scissors.
<br>
                    <br>
                    <!--
                    <span style="color:orange">SHOP OPENS ON OCT 16th</span>
                    -->
                    <a class="order-button" href="https://docs.google.com/forms/d/193WpERUfnvNpvaYC3bLyNM1iGQScz5AJwoNfM7LPvr0/viewform?entry.411623656=1&entry.1021930331=0&entry.659487401=0">Order Now</a>
                    
                </td>
            </tr>
            <tr style="border: 3px solid rgba(255,255,255,.8)">
                <td class="offer">
                    <h3>Cut Edition</h3><br>
                    <b>25 €</b> (30 $)<br><br>

                    1 Retromat Print Edition - Cut and ready to "flap"
                    <br><br>
                    <!--
                    <span style="color:orange">SHOP OPENS ON OCT 16th</span>
                    -->
                    <a class="order-button" href="https://docs.google.com/forms/d/193WpERUfnvNpvaYC3bLyNM1iGQScz5AJwoNfM7LPvr0/viewform?entry.411623656=0&entry.1021930331=1&entry.659487401=0">Order Now</a>
                    
                </td>
            </tr>
            <tr>
                <td class="offer" style="background-color: rgba(0,0,0,.1)">
                    <h3>Supporter Edition (Cut)</h3><br>
                    <b>40 €</b> (47 $)<br><br>

                    1 Retromat Print Editon - Lovingly cut by yours truly + <br>
                    <img src="/print/images/we-support-retromat.png" style="box-shadow: none; margin-top: 5px" title="Retromat Supporter Badge">

                    <br><br>
                    As a "Supporter" you contribute to hosting for the digital version,
                    which secures you
                    <ul>
                        <li>bragging rights,</li>
                        <li>the "Retromat Supporter" badge for your website,</li>
                        <li>the pleasant feeling of doing something good :)</li>
                    </ul>
<br>
<br>
                    <!--
                    <span style="color:orange">SHOP OPENS ON OCT 16th</span>
                    -->
                    <a class="order-button" href="https://docs.google.com/forms/d/193WpERUfnvNpvaYC3bLyNM1iGQScz5AJwoNfM7LPvr0/viewform?entry.411623656=0&entry.1021930331=0&entry.659487401=1">Order Now</a>
                   
                </td>
            </tr>
        </table>


        <br><br>
        The Fineprint:
        <ul>
            <li><b>FREE Shipping</b> - To any destination on this planet</li>
            <li><b>Money Back Guarantee</b> - If you're not happy with your Print Edition for whatever reason,
                you get your money back (see below for contact details)</li>
            <li>Pay via <b>bank transfer</b> or <b>Paypal</b>. I send out your copy as soon as I've received your payment.</li>
            <li>The Retromat Print Edition is meant to inspire you. It's not a proper introduction to
                the field of retrospectives. If you're new to the topic, read one of
                <a href="http://finding-marbles.com/2013/12/04/list-of-books-about-retrospectives/">these books</a>
                first or attend a workshop.
            </li>
        </ul>

    </div>
</div>


<div id="footer">
    <div class="content">

        <h1>Any questions?</h1>

        Please don't hesitate to ask! You can contact me via <a href="mailto:corinna@finding-marbles.com">email</a> or
        <a href="https://www.twitter.com/findingmarbles">Twitter</a>.
        <br><br>
        The Retromat Print Edition will ship from Germany:
        <br><br>
        Corinna Baldauf<br>
        K&uuml;hlwetterstr. 30<br>
        40239 D&uuml;sseldorf
        <br><br>


    </div>
</div>


<!-- Piwik -->
<noscript><img src="//plans-for-retrospectives.com/piwik/piwik.php?idsite=2&rec=1&bots=1" style="border:0;" alt="" /></noscript>
<!-- End Piwik Code -->
</body>
</html>
