<!DOCTYPE html>
<html lang="en">
<head>
    <title>Retromat – The Print Edition</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"> 

    <link rel="stylesheet" type="text/css" href="/static/retromat.css" />
    <link rel="shortcut icon" href="/favicon.ico" />

    <script src="/static/jquery.min.js"></script>
    <script src="/static/lightbox/lightbox.js"></script>
    <link href="/static/lightbox/lightbox.css" rel="stylesheet" />


    <style>
        .offer h3 {
            margin-bottom: -12px;
            color: orange;
            font-size: 19px;
            font-weight: bold;
        }
    </style>

    <!-- Matomo -->
    <script type="text/javascript">
        var _paq = _paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//retromat.org/piwik/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', '3']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <!-- End Matomo Code -->
</head>

<body class="page">

{% include 'topnavi.html.twig' ignore missing  %}

    <div class="pitch">
        <div class="content">
            <div class="inner font-serif">
                <h1>Retromat</h1>
                <h2>Print Edition</h2>
            </div>
        </div>
    </div>

    <div class="bg3">
        <div class="content">
            <div class="inner">  
                <div class="inner two-col">
                    <div style="width: 160px; flex: none">
                        <a href="/static/images/print/retromat_print-edition_cover.jpg" rel="lightbox[retromat]" title="The cover in all its splendour">
                            <img src="/print/images/retromat_fan.png" width="142" height="252">
                        </a>
                        <a href="/static/images/print/print-retromat_in_action.jpg" rel="lightbox[retromat]" title="A print edition in action - Photo by Tony O&quot;Halloran">
                        </a>
                        <a href="/static/images/print/unboxing_print-retromat_at_7digital.jpg" rel="lightbox[retromat]" title="Unboxing at 7digital UK - Photo by Christine O'Dell">
                        </a>
                    </div>
                    <div style="flex: 2">
                        You click around in Retromat just for the fun of it? You like to interact with real, physical objects?
                        <br><br>
                        Great, the Retromat Print Edition is for you! It's useful, it's beautiful, and it's fun!
                        <br><br>
                        The print equivalent of the digital Retromat contains <a href="/en/sources">50 activities</a> -
                        10 for each of the 5 phases.
                        You can either flip all phases in sync to get 10 matched plans - ordered from "beginner-friendly" to
                        "experienced facilitator" - or flip around to mix-and-match a plan (much as with the digital version).
                        The latter allows for 100,000 different combinations for retrospectives lasting between 60 to 120 minutes.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg1">
        <div class="content">
            <div class="inner">    

                The Print edition is so much fun to play with! See it in action:
                <br><br>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/aUOEOTZO68M?rel=0" frameborder="0" allowfullscreen></iframe>

                <a class="button-big" href="https://www.itagileshop.de/reflektieren/retromat/" style="color: white; text-align: center">Order your Print Retromat 
                    <br>
                from our partner it-agile</a>

                (If you are outside the EU you can order by writing directly to versand @ it-agile . de)
                <br>

        </div>
    </div>
</div>

<div class="about">
    <div class="content">
        <div class="inner font-serif">
                <h3>Any questions?</h3>
                You can contact Corinna Baldauf <a href="mailto:corinna@retromat.org">via email</a> or
                <a href="https://twitter.com/corinnabaldauf">Twitter</a>.
        </div>
    </div>
</div>

{% include 'footer.html.twig' ignore missing  %}

<!-- Matomo -->
<noscript><img src="//retromat.org/piwik/piwik.php?idsite=3&amp;rec=1" style="border:0;" alt="" /></noscript>
<!-- End Matomo Code -->
</body>
</html>
