<!DOCTYPE html>
<html>
<head>
    <title>Paypal - Retromat - The Print Edition</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif" />
    <link rel="stylesheet" type="text/css" href="/print/styles.css" />
    <link rel="shortcut icon" href="/favicon.ico" />

    <STYLE type="text/css">
        .order-button {
            display: inline-block;
            padding: 10px;
            text-decoration: none;
            background-color: orange;
            border-radius: 5px;
            border: 2px white solid;
        }
        .order-button:hover {
            background-color: darkorange;
        }
        .offer {
            width:200px;
        }
    </STYLE>

    <!-- Matomo -->
    <script type="text/javascript">
        var _paq = _paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//retromat.org/piwik/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', '3']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <!-- End Matomo Code -->
</head>

<body>

{% include 'topnavi.html.twig' ignore missing  %}

<div id="title">
    <div class="content">
        <h1>Retromat Print Edition<br>
            <span class="umph">Paypal</span>
        </h1>
    </div>
</div>

<div class="summary">
    <div class="content">


        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="lc" value="US">
            <input type="hidden" name="currency_code" value="EUR">
            <input type="hidden" name="hosted_button_id" value="62V65MW4UBWSY">
            <table>
                <tr><td><input type="hidden" name="on0" value="Name of person you ordered for">Name of person you ordered for (probably you)</td></tr><tr><td><input type="text" name="os0" maxlength="200"></td></tr>
            </table>
            <input type="submit" class="order-button" name="submit" value="Pay instantly with PayPal">
        </form>

        <br><br><br>
        If you'd rather pay via bank transfer:
        <br><br>
        Corinna Baldauf
        <br>
        IBAN: DE09500310001032818001 <br>
        BIC / SWIFT: TRODDEF1<br>

    </div>
</div>



<div id="footer">
    <div class="content">

        <h1>Any questions?</h1>

        Please don't hesitate to ask! You can contact me via <a href="mailto:corinna@finding-marbles.com">email</a> or
        <a href="http://www.twitter.com/findingmarbles">Twitter</a>.
        <br><br>
        The Retromat Print Edition ships from Germany:
        <br><br>
        Corinna Baldauf<br>
        K&uuml;hlwetterstr. 30<br>
        40239 D&uuml;sseldorf
        <br><br>


    </div>
</div>

{% include 'footer.html.twig' ignore missing  %}

<!-- Matomo -->
<noscript><img src="//retromat.org/piwik/piwik.php?idsite=3&amp;rec=1" style="border:0;" alt="" /></noscript>
<!-- End Matomo Code -->
</body>
</html>
