<!DOCTYPE html>
<html>
<head>
    <title>Paypal - Retromat - The Print Edition</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif" />
    <link rel="stylesheet" type="text/css" href="/print/styles.css" />
    <link rel="shortcut icon" href="/favicon.ico" />

    <STYLE type="text/css">
        .order-button {
            display: inline-block;
            padding: 10px;
            text-decoration: none;
            background-color: orange;
            border-radius: 5px;
            border: 2px white solid;
        }
        .order-button:hover {
            background-color: darkorange;
        }
        .offer {
            width:200px;
        }
    </STYLE>

    <!-- Piwik -->
    <script type="text/javascript">
        var _paq = _paq || [];
        // tracker methods like "setCustomDimension" should be called before "trackPageView"
        _paq.push(["setCookieDomain", "*.plans-for-retrospectives.com"]);
        _paq.push(["setDomains", ["*.plans-for-retrospectives.com"]]);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//plans-for-retrospectives.com/piwik/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', '2']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <!-- End Piwik Code -->
</head>

<body>

<div id="header">
    <a href="/">Back to <img id="logo" src="../static/images/logo_white.png"
                             alt="Retromat"
                             title="Retromat"></a>
</div>

<div id="title">
    <div class="content">
        <h1>Retromat Print Edition<br>
            <span class="umph">Paypal</span>
        </h1>
    </div>
</div>

<div class="summary">
    <div class="content">

        That worked out, thank you! Now that you've paid your order, it will move into the "to ship" queue. You'll receive a confirmation email within one day with more details. Thank you!

    </div>
</div>



<div id="footer">
    <div class="content">

        <h1>Any questions?</h1>

        Please don't hesitate to ask! You can contact me via <a href="mailto:corinna@finding-marbles.com">email</a> or
        <a href="http://www.twitter.com/findingmarbles">Twitter</a>.
        <br><br>
        The Retromat Print Edition ships from Germany:
        <br><br>
        Corinna Baldauf<br>
        K&uuml;hlwetterstr. 30<br>
        40239 D&uuml;sseldorf
        <br><br>


    </div>
</div>


<!-- Piwik -->
<noscript><img src="//plans-for-retrospectives.com/piwik/piwik.php?idsite=2&rec=1&bots=1" style="border:0;" alt="" /></noscript>
<!-- End Piwik Code -->
</body>
</html>