<!DOCTYPE html>
<html>
<head>
    <title>Paypal - Retromat - The Print Edition</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif" />
    <link rel="stylesheet" type="text/css" href="/print/styles.css" />
    <link rel="shortcut icon" href="/favicon.ico" />

    <STYLE type="text/css">
        .order-button {
            display: inline-block;
            padding: 10px;
            text-decoration: none;
            background-color: orange;
            border-radius: 5px;
            border: 2px white solid;
        }
        .order-button:hover {
            background-color: darkorange;
        }
        .offer {
            width:200px;
        }
    </STYLE>

    <!-- Matomo -->
    <script type="text/javascript">
        var _paq = _paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//retromat.org/piwik/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', '3']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <!-- End Matomo Code -->
</head>

<body>

<div id="header">
    <a href="/">Back to <img id="logo" src="../static/images/logo_white.png"
                             alt="Retromat"
                             title="Retromat"></a>
</div>

<div id="title">
    <div class="content">
        <h1>Retromat Print Edition<br>
            <span class="umph">Paypal</span>
        </h1>
    </div>
</div>

<div class="summary">
    <div class="content">

        You canceled paying via Paypal. Your order will be on hold while I wait for your payment. <a href="https://retromat.org/print/paypal_pay.html">Click here for payment details</a>

    </div>
</div>



<div id="footer">
    <div class="content">

        <h1>Any questions?</h1>

        Please don't hesitate to ask! You can contact me via <a href="mailto:corinna@finding-marbles.com">email</a> or
        <a href="http://www.twitter.com/findingmarbles">Twitter</a>.
        <br><br>
        The Retromat Print Edition ships from Germany:
        <br><br>
        Corinna Baldauf<br>
        K&uuml;hlwetterstr. 30<br>
        40239 D&uuml;sseldorf
        <br><br>


    </div>
</div>

<div class="footer">
   <div class="content">
      <div style="clear:both">
           <a href="/imprint-privacy">
               Imprint &amp; Privacy Policy
            </a>
        </div>
    </div><!-- .content -->
</div><!-- .footer -->

<!-- Matomo -->
<noscript><img src="//retromat.org/piwik/piwik.php?idsite=3&amp;rec=1" style="border:0;" alt="" /></noscript>
<!-- End Matomo Code -->
</body>
</html>
