<!DOCTYPE html>
<html>
<head>
<title>Sources - Retromat - Print Edition</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif" />

<link rel="stylesheet" type="text/css" href="/print/styles.css" />

<link rel="shortcut icon" href="/favicon.ico" />

    <!-- Matomo -->
    <script type="text/javascript">
        var _paq = _paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//retromat.org/piwik/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', '3']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <!-- End Matomo Code -->
</head>

<body>

{% include 'topnavi.html.twig' ignore missing  %}

<div id="title">
    <div class="content">
        <h1>Retromat - Print Edition<br>
            <span class="umph">Sources</span>
        </h1>
    </div>
</div>

<div class="summary">
    <div class="content">

        Asking new questions leads to new answers and views. That's why I've
        started to collect and summarize activities in Retr-O-Mat. Turns out,
        I was inspired by some sources more often than others.
        <br><br>
        The Top 2 sources of ideas for activities in the print edition are <a href="http://judithandresen.com/">Judith Andresen</a>
        and <a href="http://futureworksconsulting.com/who-we-are/diana-larsen">Diana Larsen</a> (individually or together with Esther Derby). Two books have influenced me a lot:
<br><br>
        <div style="display: table">
            <div style="display: table-cell; padding-right: 70px">
                <a href="https://leanpub.com/ErfolgreicheRetrospektiven"><img src="/print/images/cover_erfolgreiche-retrospektiven.jpg"></a>
                <br>
                <a href="https://leanpub.com/ErfolgreicheRetrospektiven">Erfolgreiche Retrospektiven</a>
                <br><a href="http://www.judithandresen.com/">Judith Andresen</a>
            </div>
            <div style="display: table-cell">
                <a href="http://pragprog.com/book/dlret/agile-retrospectives"><img src="/print/images/cover_agile-retrospectives.jpg"></a>
                <br>
                <a href="http://pragprog.com/book/dlret/agile-retrospectives">Agile Retrospectives</a> <br>
                <a href="http://www.estherderby.com/">Esther Derby</a> &amp; <a href="http://futureworksconsulting.com/who-we-are/diana-larsen">Diana Larsen</a>
            </div>
        </div>
        <br><br>

        <br><br>
        Consequently my eternal gratitude goes to the above folks! Additionally I'd like
        to thank everyone else who shares ideas for activities!
        <br><br>
        Such as the people featured in the print edition:
<br><br>
        <table class="sources">
            <thead>
                <th><b>ID</b></th>
                <th><b>Act. Name</b></th>
                <th><b>Source</b></th>
                <th style="width:100px"><b>Link</b></th>
            </thead>
            <tr>
                <td>#1</td>
                <td>ESVP</td>
                <td>Esther Derby &amp; Diana Larsen in <a href="http://pragprog.com/book/dlret/agile-retrospectives">Agile Retrospectives</a></td>
                <td><a href="https://retromat.org/?id=1" class="small">In Retr-O-Mat</a></td>
            </tr>
            <tr>
                <td>#3</td>
                <td>Quick Question</td>
                <td>Same as #1</td>
                <td><a href="https://retromat.org/?id=3" class="small">In Retr-O-Mat</a></td>
            </tr>
            <tr>
                <td>#5</td>
                <td>Analyze Stories</td>
                <td><a href="http://finding-marbles.com">Corinna Baldauf</a></td>
                <td><a href="https://retromat.org/?id=5" class="small">In Retr-O-Mat</a></td>
            </tr>
            <tr>
                <td>#13</td>
                <td>SMART Goals</td>
                <td>Same as #1</td>
                <td><a href="https://retromat.org/?id=13" class="small">In Retromat</a></td>
            </tr>
            <tr>
                <td>#17</td>
                <td>SaMoLo - Same of, More of, Less of</td>
                <td><a href="http://FairlyGoodPractice.com">FairlyGoodPractice.com</a></td>
                <td><a href="https://retromat.org/?id=17" class="small">In Retromat</a></td>
            </tr>
            <tr>
                <td>#18</td>
                <td>Amazon Review</td>
                <td><a href="http://blog.codecentric.de/2012/02/unser-sprint-bei-amazon/">Christian Hei&szlig;ing</a></td>
                <td><a href="https://retromat.org/?id=18" class="small">In Retromat</a></td>
            </tr>

            <tr>
                <td>#19</td>
                <td>Speedboat</td>
                <td><a href="http://leadinganswers.typepad.com/leading_answers/2007/03/release_and_ite.html">Mike Griffiths</a>
                    adapting from
                    <a href="http://www.amazon.com/Innovation-Games-Creating-Breakthrough-Collaborative/dp/0321437292/">Innovation Games</a>
                    by Luke Hohmann</td>
                <td><a href="https://retromat.org/?id=19" class="small">In Retromat</a></td>
            </tr>
            <tr>
                <td>#20</td>
                <td>Perfection Game</td>
                <td> <a href="http://www.benlinders.com/2011/getting-business-value-out-of-agile-retrospectives/">Ben Linders</a></td>
                <td><a href="https://retromat.org/?id=20" class="small">In Retromat</a></td>
            </tr>
            <tr>
                <td>#21</td>
                <td>Merge</td>
                <td>Lydia Grawunder &amp; Sebastian Nachtigall</td>
                <td><a href="https://retromat.org/?id=21" class="small">In Retromat</a></td>
            </tr>
            <tr>
                <td>#22</td>
                <td>Temperature Reading</td>
                <td>Unknown</td>
                <td><a href="https://retromat.org/?id=22" class="small">In Retromat</a></td>
            </tr>
            <tr>
                <td>#23</td>
                <td>Feedback Door - Smilies</td>
                <td><a
                href="http://boeffi.net/tutorials/roti-return-on-time-invested-wie-funktionierts/">Boeffi</a></td>
                <td><a href="https://retromat.org/?id=23" class="small">In Retromat</a></td>
            </tr>
            <tr>
                <td>#24</td>
                <td>Open Items List</td>
                <td>Same as #5</td>
                <td><a href="https://retromat.org/?id=24" class="small">In Retromat</a></td>
            </tr>
            <tr>
                <td>#25</td>
                <td>Cause-Effect-Diagram</td>
                <td><a href="http://blog.crisp.se/2009/09/29/henrikkniberg/1254176460000">Henrik Kniberg</a></td>
                <td><a href="https://retromat.org/?id=25" class="small">In Retromat</a></td>
            </tr>
            <tr>
                <td>#26</td>
                <td>Speed Dating</td>
                <td><a href="http://vinylbaustein.net/tag/retrospective/">Thorsten Kalnin</a></td>
                <td><a href="https://retromat.org/?id=26" class="small">In Retromat</a></td>
            </tr>
            <tr>
                <td>#29</td>
                <td>Circles &amp; Soup</td>
                <td><a href="http://www.futureworksconsulting.com/blog/2010/07/26/circles-and-soup/">Diana Larsen</a>
                    who adapted it from
                    <br>Stephen Covey and Jim Bullock</td>
                <td><a href="https://retromat.org/?id=29" class="small">In Retromat</a></td>
            </tr>
            <tr>
                <td>#34</td>
                <td>Shower of Appreciation</td>
                <td><a href="http://www.miarka.com/de/2010/11/shower-of-appreciation-or-talking-behind-ones-back/">Ralph Miarka</a></td>
                <td><a href="https://retromat.org/?id=34" class="small">In Retromat</a></td>
            </tr>
            <tr>
                <td>#35</td>
                <td>Agile Self-Assessment</td>
                <td>Same as #5</td>
                <td><a href="https://retromat.org/?id=35" class="small">In Retromat</a></td>
            </tr>
            <tr>
                <td>#36</td>
                <td>Appreciative Goal</td>
                <td><a href="http://www.ayeconference.com/appreciativeretrospective/">Diana Larsen</a></td>
                <td><a href="https://retromat.org/?id=36" class="small">In Retromat</a></td>
            </tr>
            <tr>
                <td>#37</td>
                <td>Remember the Future</td>
                <td>Same as #36</td>
                <td><a href="https://retromat.org/?id=37" class="small">In Retromat</a></td>
            </tr>
            <tr>
                <td>#14</td>
                <td>Feedback Door - Numbers</td>
                <td>Unknown - seen by <a href="http://www.finding-marbles.com/">Corinna Baldauf</a> at ALE 2011</td>
                <td><a href="https://retromat.org/?id=39" class="small">In Retromat</a></td>
            </tr>
            <tr>
                <td>#40</td>
                <td>Plus &amp; Delta</td>
                <td> <a href="http://agileretrospectivewiki.org/index.php?title=Weekly_Retrospective_Simple_%2B_delta">Rob Bowley in the Retrospective Wiki</a></td>
                <td><a href="https://retromat.org/?id=40" class="small">In Retromat</a></td>
            </tr>
            <tr>
                <td>#41</td>
                <td>Park Bench</td>
                <td>Same as #36</td>
                <td><a href="https://retromat.org/?id=41" class="small">In Retromat</a></td>
            </tr>
            <tr>
                <td>#42</td>
                <td>Postcards
		    <br>(Only in 1st run)</td>
                <td>Same as #5</td>
                <td><a href="https://retromat.org/?id=42" class="small">In Retromat</a></td>
            </tr>
            <tr>
                <td>#43</td>
                <td>Take a Stand - Opening</td>
                <td><a href="http://www.softwareleid.de/2012/06/eine-retro-im-kreis.html">Christoph Pater</a></td>
                <td><a href="https://retromat.org/?id=43" class="small">In Retromat</a></td>
            </tr>
            <tr>
                <td>#44</td>
                <td>Take a Stand - Closing</td>
                <td>Same as #43</td>
                <td><a href="https://retromat.org/?id=44" class="small">In Retromat</a></td>
            </tr>
            <tr>
                <td>#45</td>
                <td>Pleased &amp; Surprised</td>
                <td>Unknown</td>
                <td><a href="https://retromat.org/?id=45" class="small">In Retromat</a></td>
            </tr>
            <tr>
                <td>#46</td>
                <td>Why Retrospectives?</td>
                <td><a href="http://proessler.wordpress.com/2012/07/20/check-in-activity-agile-retrospectives/">Pete Roessler</a></td>
                <td><a href="https://retromat.org/?id=46" class="small">In Retromat</a></td>
            </tr>
            <tr>
                <td>#47</td>
                <td>Empty the Mailbox</td>
                <td><a href="http://skycoach.be/ss/">Nick Oostvogels</a></td>
                <td><a href="https://retromat.org/?id=47" class="small">In Retromat</a></td>
            </tr>
            <tr>
                <td>#51</td>
                <td>Lean Coffee</td>
                <td><a href="http://LeanCoffee.org/">LeanCoffee.org</a></td>
                <td><a href="https://retromat.org/?id=51" class="small">In Retromat</a></td>
            </tr>
            <tr>
                <td>#52</td>
                <td>Constellation - Opening</td>
                <td><a href="http://www.coachingagileteams.com/">Lyssa Adkins</a></td>
                <td><a href="https://retromat.org/?id=52" class="small">In Retromat</a></td>
            </tr>
            <tr>
                <td>#53</td>
                <td>Constellation - Closing</td>
                <td>Same as #52</td>
                <td><a href="https://retromat.org/?id=53" class="small">In Retromat</a></td>
            </tr>
            <tr>
                <td>#55</td>
                <td>Original 4</td>
                <td><a href="http://www.retrospectives.com/pages/RetrospectiveKeyQuestions.html">Norman Kerth</a></td>
                <td><a href="https://retromat.org/?id=55" class="small">In Retromat</a></td>
            </tr>
            <tr>
                <td>#57</td>
                <td>Say it with Flowers</td>
                <td>Same as #47</td>
                <td><a href="https://retromat.org/?id=57" class="small">In Retromat</a></td>
            </tr>
            <tr>
                <td>#58</td>
                <td>Undercover Boss</td>
                <td>Love Agile</td>
                <td><a href="https://retromat.org/?id=58" class="small">In Retromat</a></td>
            </tr>
            <tr>
                <td>#59</td>
                <td>Happiness Histogram</td>
                <td><a href="http://nomad8.com/chart-your-happiness/">Mike Lowery</a></td>
                <td><a href="https://retromat.org/?id=59" class="small">In Retromat</a></td>
            </tr>
            <tr>
                <td>#60</td>
                <td>AHA!</td>
                <td><a href="http://scrumfoundation.com/about/catherine-louis">Catherine Louis</a> &amp; <a href="http://blog.haaslab.net/">Stefan Haas</a></td>
                <td><a href="https://retromat.org/?id=60" class="small">In Retromat</a></td>
            </tr>
            <tr>
                <td>#61</td>
                <td>Chaos Cocktail Party</td>
                <td>Suzanne Garcia</td>
                <td><a href="https://retromat.org/?id=61" class="small">In Retromat</a></td>
            </tr>
            <tr>
                <td>#63</td>
                <td>Low Hanging Fruit</td>
                <td><a href="http://tobias.is/">Tobias Baldauf</a></td>
                <td><a href="https://retromat.org/?id=63" class="small">In Retromat</a></td>
            </tr>
            <tr>
                <td>#64</td>
                <td>Quartering - Boring Stories</td>
                <td><a href="http://waynedgrant.wordpress.com/2012/08/12/diy-sprint-retrospective-techniques/">Wayne D. Grant</a></td>
                <td><a href="https://retromat.org/?id=64" class="small">In Retromat</a></td>
            </tr>
            <tr>
                <td>#65</td>
                <td>Appreciative Inquiry</td>
                <td><a href="http://blog.8thlight.com/doug-bradbury/2011/09/19/apreciative_inquiry_retrospectives.html">Doug Bradbury</a></td>
                <td><a href="https://retromat.org/?id=65" class="small">In Retromat</a></td>
            </tr>
            <tr>
                <td>#66</td>
                <td>Brainwriting</td>
                <td>Prof. Bernd Rohrbach</td>
                <td><a href="https://retromat.org/?id=66" class="small">In Retromat</a></td>
            </tr>
            <tr>
                <td>#67</td>
                <td>Take Aways</td>
                <td>Judith Andresen in <a href="https://leanpub.com/ErfolgreicheRetrospektiven">Erfolgreiche Retrospektiven</a>
                </td>
                <td><a href="https://retromat.org/?id=67" class="small">In Retromat</a></td>
            </tr>
            <tr>
                <td>#68</td>
                <td>Company Map</td>
                <td>Same as #67</td>
                <td><a href="https://retromat.org/?id=68" class="small">In Retromat</a></td>
            </tr>
            <tr>
                <td>#72</td>
                <td>Divide the Dollar</td>
                <td><a href="http://www.gogamestorm.com/?p=457">Kate Verrill</a></td>
                <td><a href="https://retromat.org/?id=72" class="small">In Retromat</a></td>
            </tr>
            <tr>
                <td>#73</td>
                <td>Pitch
		    <br>(Only in 1st run)</td>
                <td>Same as #67</td>
                <td><a href="https://retromat.org/?id=73" class="small">In Retromat</a></td>
            </tr>
            <tr>
                <td>#74</td>
                <td>Pessimize</td>
                <td>Same as #67</td>
                <td><a href="https://retromat.org/?id=74" class="small">In Retromat</a></td>
            </tr>
            <tr>
                <td>#75</td>
                <td>Writing the Unspeakable</td>
                <td>Unknown</td>
                <td><a href="https://retromat.org/?id=75" class="small">In Retromat</a></td>
            </tr>
            <tr>
                <td>#76</td>
                <td>Round of Admiration</td>
                <td>Same as #67</td>
                <td><a href="https://retromat.org/?id=76" class="small">In Retromat</a></td>
            </tr>
            <tr>
                <td>#77</td>
                <td>Follow Through</td>
                <td>Same as #67</td>
                <td><a href="https://retromat.org/?id=77" class="small">In Retromat</a></td>
            </tr>
            <tr>
                <td>#78</td>
                <td>4Ls - Loved, Learned, Lacked, Longed For</td>
                <td><a href="http://ebgconsulting.com/blog/the-4l%E2%80%99s-a-retrospective-technique/">Mary Gorman & Ellen Gottesdiener</a></td>
                <td><a href="https://retromat.org/?id=78" class="small">In Retromat</a></td>
            </tr>
            <tr>
                <td>#84</td>
                <td>Last Retro's Actions Table
                    <br>(Only in 2nd run)</td>
                <td><a href="https://sven-winkler.squarespace.com/">Sven Winkler</a></td>
                <td><a href="https://retromat.org/?id=84" class="small">In Retromat</a></td>
            </tr>
            <tr>
                <td>#88</td>
                <td>Impediments Cup
                    <br>(Only in 2nd run)</td>
                <td><a href="https://obivandamme.wordpress.com/">Pascal Martin</a></td>
                <td><a href="https://retromat.org/?id=88" class="small">In Retromat</a></td>
            </tr>
        </table>
<br>
        <a href="/en/print">Back to "Retromat - Print Edition"</a>
    </div>
</div>

<div class="footer">
   <div class="content">
      <div style="clear:both">
           <a href="/imprint-privacy">
               Imprint &amp; Privacy Policy
            </a>
        </div>
    </div><!-- .content -->
</div><!-- .footer -->

<div class="pattern">

</div>

<!-- Matomo -->
<noscript><img src="//retromat.org/piwik/piwik.php?idsite=3&amp;rec=1" style="border:0;" alt="" /></noscript>
<!-- End Matomo Code -->
</body>
</html>
