<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sources for the Retromat Print Edition</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"> 

<link rel="stylesheet" type="text/css" href="/static/retromat.css" />

<link rel="shortcut icon" href="/favicon.ico" />

    <!-- Matomo -->
    <script type="text/javascript">
        var _paq = _paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//retromat.org/piwik/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', '3']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <!-- End Matomo Code -->
</head>

<body class="page">

{% include 'topnavi.html.twig' ignore missing  %}

    <div class="pitch">
        <div class="content">
            <div class="inner font-serif">
                <h1>Retromat - Print Edition</h1>
                <h2>Sources</h2>
            </div>
        </div>
    </div>

  <div class="bg3">
        <div class="content">
            <div class="inner">
        Asking new questions leads to new answers and views. That's why I've
        started to collect and summarize activities in Retr-O-Mat. Turns out,
        I was inspired by some sources more often than others.
        <br><br>
        The Top 2 sources of ideas for activities in the print edition are <a href="http://judithandresen.com/">Judith Andresen</a>
        and <a href="http://futureworksconsulting.com/who-we-are/diana-larsen">Diana Larsen</a> (individually or together with Esther Derby). Two books have influenced me a lot:
<br><br>
        <div style="display: table">
            <div style="display: table-cell; padding-right: 70px">
                <a href="https://leanpub.com/ErfolgreicheRetrospektiven"><img src="/print/images/cover_erfolgreiche-retrospektiven.jpg"></a>
                <br>
                <a href="https://leanpub.com/ErfolgreicheRetrospektiven">Erfolgreiche Retrospektiven</a>
                <br><a href="http://www.judithandresen.com/">Judith Andresen</a>
            </div>
            <div style="display: table-cell">
                <a href="http://pragprog.com/book/dlret/agile-retrospectives"><img src="/print/images/cover_agile-retrospectives.jpg"></a>
                <br>
                <a href="http://pragprog.com/book/dlret/agile-retrospectives">Agile Retrospectives</a> <br>
                <a href="http://www.estherderby.com/">Esther Derby</a> &amp; <a href="http://futureworksconsulting.com/who-we-are/diana-larsen">Diana Larsen</a>
            </div>
        </div>
        <br><br>

        <br><br>
        Consequently my eternal gratitude goes to the above folks! Additionally I'd like
        to thank everyone else who shares ideas for activities!
        <br><br>
        Such as the people featured in the print edition:
<br><br>
        <table class="sources">
            <thead>
                <th style="width: 40px"><b>ID</b></th>
                <th><b>Act. Name</b></th>
                <th><b>Source</b></th>
            </thead>
            <tr>
                <td><a href="https://retromat.org/?id=1">#1</a></td>
                <td>ESVP</td>
                <td>Esther Derby &amp; Diana Larsen in <a href="http://pragprog.com/book/dlret/agile-retrospectives">Agile Retrospectives</a></td>
            </tr>
            <tr>
                <td><a href="https://retromat.org/?id=3">#3</a></td>
                <td>Quick Question</td>
                <td>Same as #1</td>
            </tr>
            <tr>
                <td><a href="https://retromat.org/?id=5">#5</a></td>
                <td>Analyze Stories</td>
                <td><a href="http://finding-marbles.com">Corinna Baldauf</a></td>
            </tr>
            <tr>
                <td><a href="https://retromat.org/?id=13">#13</td>
                <td>SMART Goals</td>
                <td>Same as #1</td>
            </tr>
            <tr>
                <td><a href="https://retromat.org/?id=14">#14</a></td>
                <td>Feedback Door - Numbers</td>
                <td>Unknown - seen by <a href="http://www.finding-marbles.com/">Corinna Baldauf</a> at ALE 2011</td>
            </tr>
            <tr>
                <td><a href="https://retromat.org/?id=17">#17</a></td>
                <td>SaMoLo - Same of, More of, Less of</td>
                <td><a href="http://FairlyGoodPractice.com">FairlyGoodPractice.com</a></td>
            </tr>
            <tr>
                <td><a href="https://retromat.org/?id=18">#18</a></td>
                <td>Amazon Review</td>
                <td><a href="http://blog.codecentric.de/2012/02/unser-sprint-bei-amazon/">Christian Hei&szlig;ing</a></td>
            </tr>

            <tr>
                <td><a href="https://retromat.org/?id=19">#19</a></td>
                <td>Speedboat</td>
                <td><a href="http://leadinganswers.typepad.com/leading_answers/2007/03/release_and_ite.html">Mike Griffiths</a>
                    adapting from
                    <a href="http://www.amazon.com/Innovation-Games-Creating-Breakthrough-Collaborative/dp/0321437292/">Innovation Games</a>
                    by Luke Hohmann</td>
            </tr>
            <tr>
                <td><a href="https://retromat.org/?id=20">#20</a></td>
                <td>Perfection Game</td>
                <td> <a href="http://www.benlinders.com/2011/getting-business-value-out-of-agile-retrospectives/">Ben Linders</a></td>
            </tr>
            <tr>
                <td><a href="https://retromat.org/?id=21">#21</a></td>
                <td>Merge</td>
                <td>Lydia Grawunder &amp; Sebastian Nachtigall</td>
            </tr>
            <tr>
                <td><a href="https://retromat.org/?id=22">#22</a></td>
                <td>Temperature Reading</td>
                <td>Unknown</td>
            </tr>
            <tr>
                <td><a href="https://retromat.org/?id=23">#23</a></td>
                <td>Feedback Door - Smilies</td>
                <td><a
                href="http://boeffi.net/tutorials/roti-return-on-time-invested-wie-funktionierts/">Boeffi</a></td>
            </tr>
            <tr>
                <td><a href="https://retromat.org/?id=24">#24</a></td>
                <td>Open Items List</td>
                <td>Same as #5</td>
            </tr>
            <tr>
                <td><a href="https://retromat.org/?id=25">#25</a></td>
                <td>Cause-Effect-Diagram</td>
                <td><a href="http://blog.crisp.se/2009/09/29/henrikkniberg/1254176460000">Henrik Kniberg</a></td>
            </tr>
            <tr>
                <td><a href="https://retromat.org/?id=26">#26</a></td>
                <td>Speed Dating</td>
                <td><a href="http://vinylbaustein.net/tag/retrospective/">Thorsten Kalnin</a></td>
            </tr>
            <tr>
                <td><a href="https://retromat.org/?id=29">#29</a></td>
                <td>Circles &amp; Soup</td>
                <td><a href="http://www.futureworksconsulting.com/blog/2010/07/26/circles-and-soup/">Diana Larsen</a>
                    who adapted it from
                    <br>Stephen Covey and Jim Bullock</td>
            </tr>
            <tr>
                <td><a href="https://retromat.org/?id=34">#34</a></td>
                <td>Shower of Appreciation</td>
                <td><a href="http://www.miarka.com/de/2010/11/shower-of-appreciation-or-talking-behind-ones-back/">Ralph Miarka</a></td>
            </tr>
            <tr>
                <td><a href="https://retromat.org/?id=35">#35</a></td>
                <td>Agile Self-Assessment</td>
                <td>Same as #5</td>
            </tr>
            <tr>
                <td><a href="https://retromat.org/?id=36">#36</a></td>
                <td>Appreciative Goal</td>
                <td><a href="http://www.ayeconference.com/appreciativeretrospective/">Diana Larsen</a></td>
            </tr>
            <tr>
                <td><a href="https://retromat.org/?id=37">#37</a></td>
                <td>Remember the Future</td>
                <td>Same as #36</td>
            </tr>
            <tr>
                <td><a href="https://retromat.org/?id=40">#40</a></td>
                <td>Plus &amp; Delta</td>
                <td> <a href="http://agileretrospectivewiki.org/index.php?title=Weekly_Retrospective_Simple_%2B_delta">Rob Bowley in the Retrospective Wiki</a></td>
            </tr>
            <tr>
                <td><a href="https://retromat.org/?id=41">#41</a></td>
                <td>Park Bench</td>
                <td>Same as #36</td>
            </tr>
            <tr>
                <td><a href="https://retromat.org/?id=42">#42</a></td>
                <td>Postcards
		    <br>(Only in 1st run)</td>
                <td>Same as #5</td>
            </tr>
            <tr>
                <td><a href="https://retromat.org/?id=43">#43</a></td>
                <td>Take a Stand - Opening</td>
                <td><a href="http://www.softwareleid.de/2012/06/eine-retro-im-kreis.html">Christoph Pater</a></td>
            </tr>
            <tr>
                <td><a href="https://retromat.org/?id=44">#44</a></td>
                <td>Take a Stand - Closing</td>
                <td>Same as #43</td>
            </tr>
            <tr>
                <td><a href="https://retromat.org/?id=45">#45</a></td>
                <td>Pleased &amp; Surprised</td>
                <td>Unknown</td>
            </tr>
            <tr>
                <td><a href="https://retromat.org/?id=46">#46</a></td>
                <td>Why Retrospectives?</td>
                <td><a href="http://proessler.wordpress.com/2012/07/20/check-in-activity-agile-retrospectives/">Pete Roessler</a></td>
            </tr>
            <tr>
                <td><a href="https://retromat.org/?id=47">#47</a></td>
                <td>Empty the Mailbox</td>
                <td><a href="http://skycoach.be/ss/">Nick Oostvogels</a></td>
            </tr>
            <tr>
                <td><a href="https://retromat.org/?id=51">#51</a></td>
                <td>Lean Coffee</td>
                <td><a href="http://LeanCoffee.org/">LeanCoffee.org</a></td>
            </tr>
            <tr>
                <td><a href="https://retromat.org/?id=52">#52</a></td>
                <td>Constellation - Opening</td>
                <td><a href="http://www.coachingagileteams.com/">Lyssa Adkins</a></td>
            </tr>
            <tr>
                <td><a href="https://retromat.org/?id=53">#53</a></td>
                <td>Constellation - Closing</td>
                <td>Same as #52</td>
            </tr>
            <tr>
                <td><a href="https://retromat.org/?id=55">#55</a></td>
                <td>Original 4</td>
                <td><a href="http://www.retrospectives.com/pages/RetrospectiveKeyQuestions.html">Norman Kerth</a></td>
            </tr>
            <tr>
                <td><a href="https://retromat.org/?id=57">#57</a></td>
                <td>Say it with Flowers</td>
                <td>Same as #47</td>
            </tr>
            <tr>
                <td><a href="https://retromat.org/?id=58">#58</a></td>
                <td>Undercover Boss</td>
                <td>Love Agile</td>
            </tr>
            <tr>
                <td><a href="https://retromat.org/?id=59">#59</a></td>
                <td>Happiness Histogram</td>
                <td><a href="http://nomad8.com/chart-your-happiness/">Mike Lowery</a></td>
            </tr>
            <tr>
                <td><a href="https://retromat.org/?id=60">#60</a></td>
                <td>AHA!</td>
                <td><a href="http://scrumfoundation.com/about/catherine-louis">Catherine Louis</a> &amp; <a href="http://blog.haaslab.net/">Stefan Haas</a></td>
            </tr>
            <tr>
                <td><a href="https://retromat.org/?id=61">#61</a></td>
                <td>Chaos Cocktail Party</td>
                <td>Suzanne Garcia</td>
            </tr>
            <tr>
                <td><a href="https://retromat.org/?id=63">#63</a></td>
                <td>Low Hanging Fruit</td>
                <td><a href="http://tobias.is/">Tobias Baldauf</a></td>
            </tr>
            <tr>
                <td><a href="https://retromat.org/?id=64">#64</a></td>
                <td>Quartering - Boring Stories</td>
                <td><a href="http://waynedgrant.wordpress.com/2012/08/12/diy-sprint-retrospective-techniques/">Wayne D. Grant</a></td>
            </tr>
            <tr>
                <td><a href="https://retromat.org/?id=65">#65</a></td>
                <td>Appreciative Inquiry</td>
                <td><a href="http://blog.8thlight.com/doug-bradbury/2011/09/19/apreciative_inquiry_retrospectives.html">Doug Bradbury</a></td>
            </tr>
            <tr>
                <td><a href="https://retromat.org/?id=66">#66</a></td>
                <td>Brainwriting</td>
                <td>Prof. Bernd Rohrbach</td>
            </tr>
            <tr>
                <td><a href="https://retromat.org/?id=67">#67</a></td>
                <td>Take Aways</td>
                <td>Judith Andresen in <a href="https://leanpub.com/ErfolgreicheRetrospektiven">Erfolgreiche Retrospektiven</a>
                </td>
            </tr>
            <tr>
                <td><a href="https://retromat.org/?id=68">#68</a></td>
                <td>Company Map</td>
                <td>Same as #67</td>
            </tr>
            <tr>
                <td><a href="https://retromat.org/?id=72">#72</a></td>
                <td>Divide the Dollar</td>
                <td><a href="http://www.gogamestorm.com/?p=457">Kate Verrill</a></td>
            </tr>
            <tr>
                <td><a href="https://retromat.org/?id=73">#73</a></td>
                <td>Pitch
		    <br>(Only in 1st run)</td>
                <td>Same as #67</td>
            </tr>
            <tr>
                <td><a href="https://retromat.org/?id=74">#74</a></td>
                <td>Pessimize</td>
                <td>Same as #67</td>
            </tr>
            <tr>
                <td><a href="https://retromat.org/?id=75">#75</a></td>
                <td>Writing the Unspeakable</td>
                <td>Unknown</td>
            </tr>
            <tr>
                <td><a href="https://retromat.org/?id=76">#76</a></td>
                <td>Round of Admiration</td>
                <td>Same as #67</td>
            </tr>
            <tr>
                <td><a href="https://retromat.org/?id=77">#77</a></td>
                <td>Follow Through</td>
                <td>Same as #67</td>
            </tr>
            <tr>
                <td><a href="https://retromat.org/?id=78">#78</a></td>
                <td>4Ls - Loved, Learned, Lacked, Longed For</td>
                <td><a href="http://ebgconsulting.com/blog/the-4l%E2%80%99s-a-retrospective-technique/">Mary Gorman & Ellen Gottesdiener</a></td>
            </tr>
            <tr>
                <td><a href="https://retromat.org/?id=84">#84</a></td>
                <td>Last Retro's Actions Table
                    <br>(Only in 2nd run)</td>
                <td><a href="https://sven-winkler.squarespace.com/">Sven Winkler</a></td>
            </tr>
            <tr>
                <td><a href="https://retromat.org/?id=88">#88</a></td>
                <td>Impediments Cup
                    <br>(Only in 2nd run)</td>
                <td><a href="https://obivandamme.wordpress.com/">Pascal Martin</a></td>
            </tr>
        </table>
<br>
        <a href="/en/print">Back to "Retromat - Print Edition"</a>
    </div>
    </div>
</div>

{% include 'footer.html.twig' ignore missing  %}

<div class="pattern">

</div>

<!-- Matomo -->
<noscript><img src="//retromat.org/piwik/piwik.php?idsite=3&amp;rec=1" style="border:0;" alt="" /></noscript>
<!-- End Matomo Code -->
</body>
</html>
