
    Plan-ID:
    <form name="js_ids-display__form" class="ids-display__form" action="JavaScript:publish_plan($('.ids-display__input').val());">
        <input type="text" size="18" name="js_display" class="ids-display__input" value="{{ ids|join('-') }}">
    </form>
