<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Retromat{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

{% include 'topnavi.html.twig' ignore missing  %}

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

{% include 'footer.html.twig' ignore missing  %}

    </body>
</html>
