
    <div class="footer">
        <ul>
            <li><a href="/blog/faq-frequently-asked-questions/">FAQ</a>
            </li>
            <li><a href="/blog/privacy-policy">Imprint &amp; Privacy Policy</a></li>
        </ul>
    </div>