    <div class="header">
        <div class="header__leftblock">
            <div class="header__logo">
                <a href="{{ path('activities_by_id') }}" class="header__logo">
                    <img src="/static/images/retromat-logo.svg"
                     alt="Retromat"
                     title="Retromat">
                </a>
            </div>

            <div class="header__navi">
                <ul>
                  <li><a href="/blog/">Blog</a></li>
                  <li><a href="/en/books">Books</a></li>
                  <li><a href="/en/membership">Membership</a></li>
                  <li><a href="/en/about">About</a></li>
                </ul>
            </div>
        </div>
    </div>
